- load static from staticfiles

footer
  .ui.vertical.segment
    .ui.page.grid
      .two.column.row.sponsors
        .column.center.aligned.sponsor
          a(href="http://www.transparency.lt/")
            img(src="{% static 'img/tils-footer.png' %}")
        .column.center.aligned
          a(href="http://lithuania.nlembassy.org/")
            img(src="{% static 'img/ambasada-footer.png' %}" title="Nyderlandų ambasada")

  .ui.vertical.segment.footer
    .ui.page.grid
      .center.aligned.column
        .menu
          .mobile-only
            a(href="/team").item Komanda
            a(href="/about").item &nbsp; Apie
            a(href="/test").item Testas
          .desktop-only
            a(href="/about").item Apie&nbsp;iniciatyvą
            a(href="/test").item Atlik testą

        .copyright
          | © 2012-2016, manoSeimas.lt pateikiamas pagal
          a(href="http://creativecommons.org/licenses/by/4.0/") &nbsp; CC&nbsp;BY&nbsp;4.0 
          | turinio naudojimo licenciją
