- load static from staticfiles

footer
  .ui.vertical.segment
    .ui.stackable.page.grid
      .two.column.row
        .column.center.aligned.sponsor
          a(href="http://www.transparency.lt/"): img(src="{% static 'img/tils-footer.png' %}")
        .column.center.aligned
          a(href="http://lithuania.nlembassy.org/")
            img(src="{% static 'img/ambasada-footer.png' %}" title="Nyderlandų ambasada")

  .ui.vertical.segment.footer
    .ui.page.grid
      .center.aligned.column
        .menu
          a(href="/about").item Apie iniciatyvą
          a(href="/test").item Testas

        .copyright © 2012-2016, manoSeimas.lt pateikiamas pagal
          a(href="http://creativecommons.org/licenses/by/4.0/") &nbsp; CC BY 4.0
          turinio naudojimo licenciją
