.ui.stackable.page.grid.team
    .doubling.one.column.row
      .column.center.aligned
        h2.title Iniciatyvos komanda:

    .doubling.four.column.row
      .column
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/ignasrubikas" target="_blank") Ignas Rubikas
            .role Iniciatyvos vadovas
        .person
          .bullet
          .who
            .name Mantas Zimnickas
            .role Programuotojas
        .person
          .bullet
          .who
            .name Darius Česnulis
            .role Savanoris
        .person
          .bullet
          .who
            .name Gabrielė Krupovič
            .role Savanorė

      .column
        .person
          .bullet
          .who
            .name Sergejus Muravjovas
            .role TILS vadovas
        .person
          .bullet
          .who
            .name Gabrielius Mackevičius
            .role Iliustratorius
        .person
          .bullet
          .who
            .name Denis Ivanov
            .role Savanoris
        .person
          .bullet
          .who
            .name Greta Rožėnaitė
            .role Savanorė
        .person
          .bullet
          .who
            .name Austėja Pliupelytė
            .role Savanorė

      .column
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/gabija-luksaite-014279b0" target="_blank") Gabija Lukšaitė
            .role Iniciatyvos koordinatorė
        .person
          .bullet
          .who
            .name Ramunė Norkutė
            .role Dizainerė
        .person
          .bullet
          .who
            .name Agnė Patackaitė
            .role Savanorė
        .person
          .bullet
          .who
            .name Elena Lesieur
            .role Savanorė
        .person
          .bullet
          .who
            .name Ingrida Kniežaitė
            .role Savanorė

      .column
        .person
          .bullet
          .who
            .name: a(href="http://linkedin.com/in/jarolt" target="_blank") Jaro Šatkevič
            .role Programuotojas
        .person
          .bullet
          .who
            .name Aistė Jotautytė
            .role Savanorė
        .person
          .bullet
          .who
            .name Erika Zlatkutė
            .role Savanorė
        .person
          .bullet
          .who
            .name Kornelija Viečaitė
            .role Savanorė
