.ui.stackable.page.grid.team
    .doubling.one.column.row
      .column.center.aligned
        h2.title Iniciatyvos komanda:

    .doubling.four.column.row
      .column
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/ignasrubikas" target="_blank") Ignas Rubikas
            .role Iniciatyvos vadovas
        .person
          .bullet
          .who
            .name: a(href="https://www.linkedin.com/in/sirex" target="_blank") Mantas Zimnickas
            .role Programuotojas
        .person
          .bullet
          .who
            .name: a(href="https://www.linkedin.com/in/darius-%C4%8Desnulis-b978b0111" target="_blank") Darius Česnulis
            .role Savanoris
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/gabriel%C4%97-krupovi%C4%8D-7628a6114" target="_blank") Gabrielė Krupovič
            .role Savanorė

      .column
        .person
          .bullet
          .who
            .name: a(href="https://www.linkedin.com/in/smuravjovas" target="_blank") Sergejus Muravjovas
            .role TILS vadovas
        .person
          .bullet
          .who
            .name: a(href="https://www.linkedin.com/in/gabrielius-mackevi%C4%8Dius-653b84105" target="_blank") Gabrielius Mackevičius
            .role Iliustratorius
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/denis-ivanov-07177920" target="_blank") Denis Ivanov
            .role Savanoris
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/greta-ro%C5%BE%C4%97nait%C4%97-789a39a2" target="_blank") Greta Rožėnaitė
            .role Savanorė
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/austėja-pliupelytė-341a26127" target="_blank") Austėja Pliupelytė
            .role Savanorė

      .column
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/gabija-luksaite-014279b0" target="_blank") Gabija Lukšaitė
            .role Iniciatyvos koordinatorė
        .person
          .bullet
          .who
            .name: a(href="https://www.linkedin.com/in/ramunenorkute" target="_blank") Ramunė Norkutė
            .role Dizainerė
        .person
          .bullet
          .who
            .name: a(href="https://www.linkedin.com/in/agn%C4%97-patackait%C4%97-b12a536a" target="_blank") Agnė Patackaitė
            .role Savanorė
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/elenalesieur" target="_blank") Elena Lesieur
            .role Savanorė
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/ingrida-knie%C5%BEait%C4%97-b76784127" target="_blank") Ingrida Kniežaitė
            .role Savanorė

      .column
        .person
          .bullet
          .who
            .name: a(href="http://linkedin.com/in/jarolt" target="_blank") Jaro Šatkevič
            .role Programuotojas
        .person
          .bullet
          .who
            .name: a(href="https://www.linkedin.com/in/aist%C4%97-jotautyt%C4%97-ba072484" target="_blank") Aistė Jotautytė
            .role Savanorė
        .person
          .bullet
          .who
            .name: a(href="https://www.linkedin.com/in/aist%C4%97-jotautyt%C4%97-ba072484" target="_blank") Erika Zlatkutė
            .role Savanorė
        .person
          .bullet
          .who
            .name: a(href="https://lt.linkedin.com/in/viecaite" target="_blank") Kornelija Viečaitė
            .role Savanorė
