.MSWidget {
  position: relative;
  background-color: #fff;
  color: black;
  width: 100%;
  height: 100%;
  font-family: Verdana;
  font-size: 10px;
  line-height: 20px;
}

.votetitle {
  font-weight: bold;
  white-space: nowrap;
  padding-left: 5px;
}

.links {
  clear: right;
  float: right;
  margin-right: 10px;
}

.button_bar {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}


.mode_button {
  border: 1px solid black;
  display: table-cell;
  text-align: center;
  text-decoration: underline;
  &:hover {
    background-color: #ccc !important;
    cursor: pointer;
  }
}

.content_pane {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 70px;
  border: 1px solid #999;
  overflow-y: scroll;
}

.overlay {
  position: absolute;
  top: 20px;
  bottom: 70px;
  left: 0;
  right: 0;
  background-color: #fcf;
  z-index: 2;
  padding: 10px 15px 10px 15px;
  font-size: 12px;
  border: 1px solid #999;
  overflow-y: scroll;
}

.fractions_pane {
  background-color: #faa;
}

.mps_pane {
  background-color: #afa;
  top: 62px;
  .mode_button {
    border-top: 0;
  }

  // More natural scrolling for end items
  padding-bottom: 50px;
}

.mp {
    display: inline-block;

    width: 200px;
    border: 1px solid red;
    margin: 5px 0px 5px 15px;

    vertical-align: top;
    
    img {
        float: left;
        margin-right: 10px;
    }
    
    /* IE 6 & 7 */
    zoom: 1;
    *display: inline;
}

.mps_section {
    clear: left;
    border-top: 1px solid #999;
    min-height: 40px;
}

.vote_pane {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  padding: 10px 10px 0 10px;
  background-color: #ff9;
  font-size: 12px;
  button {
    margin-left: 20px;
    width: 90px;
    height: 25px;
    font-size: 18px;
  }
  input[type=checkbox] {
    vertical-align: middle;
  }
}

.fraction_pane {
  table-layout: auto;
  display: table;
  width: 100%;
}

.position_bar {
    min-height: 80px;
    min-width: 530px;
    margin: 10px 5px 5px 5px;
}

.iconified_fraction {
    display: inline-block;
    text-align: center;
    min-width: 60px;
    font-weight: bold;
    height: 50px;
    
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    p {
        margin-top: 55px;
    }
}

.iconified_fraction:hover {
    cursor: pointer;
    text-decoration: underline;
    
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1); 
}

.positive {
    color: #1B9E34 !important;
}
.negative {
    color: #c00 !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.content_row {
  border-bottom: 1px solid grey;
  clear: left;
  width: 100%;
}

table.fractions_list {
    border: 0;
    width: 100%;

    tr {
        border-top: 1px solid gray;

        // VISO percentage
        td:first-child {
            font-size: 28px;
            text-align: right;
        }
        // Fraction image
        td:first-child + td {
            text-align: center;
        }
        // Fraction details
        td:first-child + td + td {
            max-width: 500px;
            min-width: 250px;
            padding: 5px 10px 5px 5px;
            line-height: 1;
            vertical-align: top;
        }
        // Fraction vote data
        td:first-child + td + td + td {
            padding: 5px 20px 5px 5px;
            min-width: 145px;

            label {
                display: inline-block;
                font-weight: bold;
                text-decoration: underline;
                width: 40px;
                text-align: right;
                clear: left;
                float: left;
                margin: 3px 10px 0px 0px;
                line-height: 1;
                font-size: 10px;
            }

            div {
                display: inline-block;
                font-weight: bold;
                height: 10px;
                line-height: 1;
                font-size: 10px;
                text-align: right;
                float: left;
                margin-top: 3px;
                padding: 0px 10px 0px 5px;
                border: 1px solid black;
            }
        }
    }
}

.aye_data_bar {
    background-color: #1b9e33;
}
.no_data_bar {
    background-color: #c00;
}
.abstain_data_bar {
    background-color: #cc9e33;
}
.null_data_bar {
    border: 0 !important;
    padding: 0 !important;
}


.faction_col {
  width: 50%;
  img {
    float: left;
    clear: left;
    padding-right: 10px;
  }
}

.content_col {
  display: table-cell;
  padding: 5px;
}

.votetable {
  font-size: 12px;
  border: 1px solid black;
  border-collapse: collapse;
  th {
      background-color: #999;
  }
  td {
    padding: 3px;
  }
}

.hidden {
  display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.connect_button {
    height: 30px;
    width: 100px;
    float: left;
    margin: 10px;
    font-size: 16px;
}

.harrow {
    height: 4px;
    margin:2px 12px 0px 12px;
    position: relative;

    background-color: black; /* Older browsers */
    background-image: -ms-linear-gradient(left, #1B9E34 0%, #CC0000 100%); /* IE10 */
    background-image: -moz-linear-gradient(left, #1B9E34 0%, #CC0000 100%); /* FF */
    background-image: -o-linear-gradient(left, #1B9E34 0%, #CC0000 100%); /* Opera */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #1B9E34), color-stop(1, #CC0000)); /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-linear-gradient(left, #1B9E34 0%, #CC0000 100%); /* Webkit (Chrome 11+) */ 
    background-image: linear-gradient(to right, #1B9E34 0%, #CC0000 100%); /* W3C */
}

.harrow:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: -12px;
    margin-top: -2px;
    border-style: solid;
    border-width: 4px 12px 4px 0;
    border-color: transparent #1b9e33 transparent transparent;
    -webkit-transform: rotate(360deg);
}

.harrow:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    right: -12px;
    margin-top: -2px;
    border-style: solid;
    border-width: 4px 0 4px 12px;
    border-color: transparent transparent transparent #c00;
    -webkit-transform: rotate(360deg);
}
