{% load sboard %}

<a class="help" style="margin-left: 10px" href="#preview-help" data-toggle="modal"></a>

{% for fraction in aye %}
<div style="width: 60px; padding: 0 20px 0 0; text-align:center; float: left">
  <a href="{% nodeurl fraction.profile %}" title="{{ fraction.profile.title }}">
    {% nodeimage fraction.profile 60 %}
  </a>
  <p style="padding-top: 4px; clear: both" class="positive percent">{{ fraction.compatibility_percent }}%</p>
</div>
{% endfor %}

{% for fraction in against %}
<div style="width: 60px; padding: 0 0 0 20px; text-align:center; float: right">
  <p>
    <a href="{% nodeurl fraction.profile %}" title="{{ fraction.profile.title }}">
      {% nodeimage fraction.profile 60 %}
    </a>
  </p>
  <p style="padding-top: 4px; clear: both" class="negative percent">{{ fraction.compatibility_percent }}%</p>
</div>
{% endfor %}

<div class="position-scale">
  <div class="positive">
    Atitinka jūsų poziciją
  </div>
  <div class="negative">
    Neatitinka jūsų pozicijos
  </div>
</div>
