<div class="modal hide fade" id="preview-help">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pagalba</h3>
  </div>
  <div class="modal-body">
    <p>Procentai (nuo 100% iki -100%) parodo, kiek jūsų atsakymas sutampa su
    frakcijų pozicijomis. Frakcijos pozicijos priklauso nuo to, kaip jos
    balsavo dėl su tema susijusių klausimų Seime. Jei atsakėte "pritariu",
    procentai parodo, kiek jūsų pozicija sutampa su frakcijų pozicijomis. Jei
    atsakėte "nepritariu", frakcijos pozicija yra "apverčiama".</p>

    <p><em>Pavyzdžiui, trys frakcijos nariai dėl temos "Lietuva" balsavo "už"
      (+2), "už" (+2) ir "susilaikė" (-1). Tuomet frakcijos pozicija yra
      (2+2-1)/6 = 50% (daugiau apie skaičiavimą</em> <a href="/kaip-tai-veikia/">čia</a><em>).
      Taigi jei atsakote "pritariu", skalėje bus rodomas 50% atitikimas, jei
      "nepritariu", rodomas -50% atitikimas.</em></p>

    <p>Rodomos tik tos frakcijos, kurios dalyvavo daugiau nei 25 proc. visų
    temai svarbių balsavimų.</p>
  </div>
</div>
