{% load sboard %}

<table style="width:100%;">
  <tr>
    {% for fraction in aye %}
    <td style="width:50px; text-align:center;">
      <a href="{% nodeurl fraction.profile.ref %}">
        {% nodeimage fraction.profile.ref 80 %}
      </a>
      <p><span class="positive-percent">{{ fraction.compatibility_percent }}%</span></p>
    </td>
    {% endfor %}

    <td></td>

    {% for fraction in against %}
    <td style="width:50px; text-align:center;">
      <p>
        <a href="{% nodeurl fraction.profile.ref %}">
          {% nodeimage fraction.profile.ref 80 %}
        </a>
      </p>
      <p><span class="negative-percent">{{ fraction.compatibility_percent }}%</span></p>
    </td>
    {% endfor %}
  </tr>
</table>
