<div class="modal hide fade" id="preview-help">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pagalba</h3>
  </div>
  <div class="modal-body">
    <p>Žali ir raudoni procentai parodo, kiek frakcijos narių balsavimai dėl temos
    Seime sutampa su jūsų atsakymu į klausimą-temą. Balsavimų rezultatai yra
    gaunami iš temai priskirtų balsavimų, kuriuos galite pažiūrėti temos
    profilyje.</p>

    <p>Kiekvieno frakcijos nario balsavimų rezultatai yra įvertinami
    (<strong>už</strong> = 2, <strong>prieš</strong> = -2,
    <strong>susilaikė/nebalsavo</strong> = -1) ir susumuojami su kitų frakcijos
    narių balsavimais, o tada padalinami iš maksimalaus įmanomo taškų skaičiaus
    (t.y. jei visi balsavimai būtų "už"). Taip gaunama frakcijos pozicija temos
    atžvilgiu tarp 100% ir -100%, kuri tuomet yra palyginama su jūsų atsakymu.
    Išsamią metodiką galite pažiūrėti "Kaip tai veikia" puslapyje.</p>
  </div>
</div>
