{% extends "root.html" %}
{% load i18n %}

{% block all %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
</head>
<body>
    <div id="header">
        {% block header %}
	<a href="{% url manoseimas-legislation-index %}">{% trans "Home" %}</a> | 
	<a href="{% url manoseimas-legislation-search %}">{% trans "Search" %}</a> | 

	{% if user.is_authenticated %}
	{% trans "Logged in" %}: {{ user.username }} 
	(<a href="{% url auth_logout %}">{% trans "Log out" %}</a> | 
	<a href="{% url auth_password_change %}">{% trans "Change password" %}</a>)
	{% else %}
	<a href="{% url auth_login %}">{% trans "Log in" %}</a>
	{% endif %}
	<hr />
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>
{% endblock %}
