{% extends "sboard/base.html" %}

{% block content %}
<h1>KURKITE VALDIKLĮ</h1>
<p>manoSeimas.lt valdiklis atvaizduoja Seimo narių ir frakcijų balsavimo rezultatus dėl vieno ar kelių įstatymo projektų. Valdiklis taip pat suteikia skaitytojui galimybę patiems "nubalsuoti" dėl valdiklyje atvaizduoto balsavimo.</p>
<p>Norėdami susikurti valdiklį, pasirinkite jus dominantį balsavimą, nustatykite valdiklio išvaizdą, ir sugeneruotą kodą nusikopijuokite į savo tinklalapį. Plačiau...[[hyperlink to instructions??]]</p>

<form id="widget_form">
    <fieldset> 
        <legend>Valdiklio Nustatymai</legend>

        <div class='row'>
            <div class='span4'>
                <label>Pasirinkite iš naujausių balsavimų:</label>
                <div class="form-horizontal">
                    <select id='widget_recent_votings'>
                        <option value=''>-- Pasirinkite Balsavimų --</option>
                        {% for rv in recent_votings %}
                            <option value='{{rv.value }}'>{{ rv.text }}</option>
                        {% endfor %}
                    </select>
                    <button id="use-recent-voting" class='btn btn-primary'>Taikyti &raquo;</button>
                    <div id='votingdetails'><a target='_blank' href='#' class='voting-url'>Plačiau apie pasirinktą balsavimą</a></div>
                </div>
            </div>
            <div id="arba" class='span1'>arba</div>
            <div class='span4'>
                <label>Pateikite savo balsavimą:</label>
                <div class="input-append">
                    <input type='text' id='widget_source_url' value='http://www.lrs.lt/pls/inter/w5_sale.bals?p_bals_id=-12994' onClick='this.select();' />
                    <button id="use-source-url" class='btn btn-primary'>Taikyti &raquo;</button>
                </div>
                <p id="url_help" class='help-block'>
                        Įkopijuokite balsavimo rezultatų nuorodą iš oficialios Seimo svetainės lrs.lt. <a data-toggle="modal" data-target='#url_instructions' href='#'>Plačiau...</a>
                </p>
            </div>
        </div>
        <div class='row'>
            <div class='span3'>
                <label><u>Plotis</u>: <input id='widget_width_field' class="dimension" /></label>
                <div class='slider' id='widget_width'></div>
            </div>
            <div class='span3'>
                <label><u>Aukštis</u>: <input id='widget_height_field' class="dimension" /></label>
                <div class='slider' id='widget_height'></div>
            </div>
        </div>
        <div id="snippet_row" class='row' >
            <div>
                <p>Jūsų valdiklio kodas:</p>
                <textarea id='code_snippet' onClick='this.select();'></textarea>
            </div>
        </div>
    </fieldset>
</form>

<div class="section" id="widget-preview">
    <h1>Valdiklio Peržiūra</h1>
    <div>
        <iframe id='widget_container' src='/widget?source_url=http%3A%2F%2Fwww.lrs.lt%2Fpls%2Finter%2Fw5_sale.bals%3Fp_bals_id%3D-12994{{ dev|yesno:"&dev=1," }}' scrolling='no' style='border:0;width:575px;height:275px;overflow:hidden;'></iframe>
    </div>
</div>

<div id="url_instructions" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Instructions for Finding Votings</h3>
    </div>
    <div class="modal-body">
        <p>Content goes here.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Got It!</button>
    </div>
</div>

<style>
    #widget_form {
        margin-bottom: 0;
    }

    #votingdetails {
        display: none;
        margin-top: 10px; 
        font-size: 12px; 
        font-style: italic;
    }

    #arba {
        margin-top: 30px;
        font-style: italic;
    }

    #widget_recent_votings {
        width: 200px;
    }

    #widget_source_url {
        width: 200px;
    }

    #url_help {
        font-style: italic;
        font-size: 10px;
    }

    input.dimension {
        width: 40px;
        height: 14px;

        float: right; 
        font-size: 12px; 
        font-style: italic;
    }

    #snippet_row {
        border-top: 1px dashed gray; 
        margin-top: 30px; 
        padding-top: 20px;
    }

    #snippet_row div {
        text-align: center;
    }

    #snippet_row div p {
        font-weight: bold;
    }

    #snippet_row div textarea {
        background-color: #eee;
        width:450px;
        height:70px;
        font-size:9px;
        font-family: monospace;
    }

    #widget-preview div {
        text-align: center;
    }

    #widget-preview div iframe {
    }
</style>

{% endblock %}

{% block inlinejs %}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}/js/jquery.cookie.min.js"></script>
<script>

    var dimensions = {};

    function update_dimensions() {
        var w = $("#widget_width").slider("value");
        var h = $("#widget_height").slider("value");

        $("#widget_container").width(w);
        $("#widget_container").height(h);

        $("#widget_width_field").val(w);
        $("#widget_height_field").val(h);

        dimensions.width = w;
        dimensions.height = h;

        $.cookie('widget_dimensions', dimensions);

        update_snippet();
    }

    function mk_src_url(params) {
        return location.protocol + '//' + location.host + '/widget?'+$.param(params);
    } 

    function update_snippet(src_url) { 
        if (!src_url) {
            src_url = $("#widget_container").attr('src');
        }
        var w = $("#widget_width").slider("value");
        var h = $("#widget_height").slider("value");

        var snippet = "<iframe src='"+src_url+"' scrolling='no' style='width:"+w+"px;height:"+h+"px;border:0;overflow:hidden;'></iframe>";
        $("#code_snippet").val(snippet);
    }

    $(function() {
        $.cookie.json = true;
        dimensions = $.cookie('widget_dimensions') || { width: 575, height: 275 };

        $( "#widget_width" ).slider({
            orientation: "horizontal",
            range: "min",
            min: 535,
            max: 1000,
            value: dimensions.width,
            step: 1,
            slide: update_dimensions,
            change: update_dimensions
        });
        $( "#widget_height" ).slider({
            orientation: "horizontal",
            range: "min",
            max: 1000,
            min: 255,
            value: dimensions.height,
            step: 1,
            slide: update_dimensions,
            change: update_dimensions
        });

        $("#widget_width_field").change(function () {
            $( "#widget_width" ).slider("value", $(this).val());
        });

        $("#widget_width_field").keypress(function(e) {
            if (e.which == 13) {
                e.preventDefault();
                $( "#widget_width" ).slider("value", $(this).val());
            }
        });

        $("#widget_height_field").change(function () {
            $( "#widget_height" ).slider("value", $(this).val());
        });

        $("#widget_height_field").keypress(function(e) {
            if (e.which == 13) {
                e.preventDefault();
                $( "#widget_height" ).slider("value", $(this).val());
            }
        });

        $("#widget_recent_votings").change(function () {
            var voting = $(this).val();
            var anchor = $("#votingdetails .voting-url");
            anchor.attr('href', "/"+voting);
            $("#votingdetails").show();
        });

        $("#use-recent-voting").click(function (e) {
            e.preventDefault();
            var iframe_url = mk_src_url({voting_id: $("#widget_recent_votings").val()});
            $("#widget_container").attr('src', iframe_url);
            update_snippet(iframe_url);
        });

        $("#use-source-url").click(function (e) {
            e.preventDefault();
            var iframe_url = mk_src_url({source_url: $("#widget_source_url").val()});
            $("#widget_container").attr('src', iframe_url);
            update_snippet(iframe_url);
        });

        update_dimensions();

    });

  </script>
{% endblock %}
