<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>manoSeimas Widget</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}/css/widget/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}/css/widget/main.css">
    </head>
    <body>
        <script id="MSWidget-loader">
            window.MSWidgetReady = function() {
                console.log("MSWidgetReady.");
                {% if profile_id %}
                    MSWidget.load_profile("{{ profile_id }}");
                {% endif %}
                MSWidget.load_voting("{{ voting_id }}");
            };

            (function(d,t){
                var s, id = 'MSWidget-js', p = d.getElementsByTagName(t)[0];
                if (!d.getElementById(id)) {
                    s = d.createElement(t);
                    s.id = id; s.async = true; s.src = '{{ STATIC_URL }}/js/manoSeimas-widget.min.js';
                    p.parentNode.insertBefore(s, p);}
            }(document,'script'));
        </script>
      {% if GOOGLE_ANALYTICS_KEY %}
        <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount','{{ GOOGLE_ANALYTICS_KEY }}']);
            _gaq.push(['_setCustomVar', 1, 'Authenticated', '{{ profile_id|yesno:"True,False" }}']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackEvent', 'Widget', 'Load', "{{ voting_id }}"]);
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
      {% endif %}
    </body>
</html>
