*.egg-info
*.mo
*.pyc
*.swp
.conf_check_*
.coverage
.installed.cfg
.lock-wafbuild
.mr.developer.cfg
.sass-cache
.waf*
.ropeproject
.vagrant
*.psd
pip-selfcheck.json

/bin
/buildout.cfg
/develop-eggs
/downloads
/eggs
/parts
/tags
/var
/log
/lib
/local
/include
/backup
/node_modules
/build/

/settings.json
/manoseimas/static/css/styles.css
/manoseimas/static/fonts/open-sans/stylesheet.css

assets/bundles
client/bundles
webpack-stats.json
webpack-stats-prod.json
bundles

# Widget build files and output
/manoseimas/widget/frontend/node_modules
/manoseimas/widget/frontend/build
/manoseimas/widget/frontend/tmp
/manoseimas/widget/frontend/.done

/deployment/credentials

*.DS_Store
/share