*.egg-info
*.mo
*.pyc
*.swp
.conf_check_*
.coverage
.installed.cfg
.lock-wafbuild
.mr.developer.cfg
.sass-cache
.waf*
.ropeproject
.vagrant

/bin
/buildout.cfg
/develop-eggs
/downloads
/eggs
/parts
/tags
/var
/log
/lib
/local
/include

/settings.json
/manoseimas/static/css/styles.css
/manoseimas/static/fonts/open-sans/stylesheet.css

# Widget build files and output
/manoseimas/static/js/manoSeimas-widget.*.js
/manoseimas/widget/frontend/build
/manoseimas/widget/frontend/tmp
