{% extends "base.html" %}

{% block sidebar %}
{% if view.nav %}
<ul class="nav nav-list">
  {% for item in view.nav %}

  {% if item.header %}

  <li class="nav-header">{{ item.title }}</li>

  {% elif item.children %}

  {% if item.active %}
  <li class="dropdown active">
  {% else %}
  <li class="dropdown">
  {% endif %}
    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.url }}">
      {{ item.title }}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      {% for child in item.children %}

      {% if child.active %}
      <li class="active"><a href="{{ child.url }}">{{ child.title }}</a></li>
      {% else %}
      <li><a href="{{ child.url }}">{{ child.title }}</a></li>
      {% endif %}

      {% endfor %}
    </ul>
  </li>

  {% else %}

  {% if item.active %}
  <li class="active"><a href="{{ item.url }}">{{ item.title }}</a></li>
  {% else %}
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
  {% endif %}

  {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% block additional_sidebar %}
{% endblock %}
{% endblock %}
