{% extends "sboard/base.html" %}
{% load i18n %}

{% block content %}
  {% if title %}
  <h1>{{ title }}</h1>
  {% endif %}
  {% if children %}
  <ul>
    {% for child in children %}
    <li class="list-entry">
      <a href="{{ child.permalink }}">{{ child.title }}</a>
      {% if child.created %}
      <div style="float: right; color: #666">{{ child.created|date:"SHORT_DATE_FORMAT" }}</div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>{% trans "Nerasta įrašų." %}</p>
  {% endif %}
{% endblock %}
