{% extends "sboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load manoseimas %}
{% load sboard %}

{% block content %}
<h1>Naudotojas</h1>
<p>{% nodeimage profile 'large' %}</p>
<div class="profile-box">
  <div>
    <h1>{{ profile.title|default:profile.user.username }}</h1>
    <p>Sveikiname prisijungus!</p>
  </div>
</div>

  <div class="profile-explanation">
      <p> Prisijungus prie manoSeimas.lt profilio:</p>
      <ul>
          <li>išsaugomi jūsų atsakymai-balsavimai į testo klausimus ir už kitas temas ar teisės aktų projektus;</li>
          <li>jau netrukus galėsite išsaugoti ir sekti savo sukurtus valdiklius;</li>
          <li>jau netrukus galėsite prenumeruoti jums rūpimus Seimo narius ir temas.</li>
      </ul>
      <p>Jūsų duomenys yra privatūs ir nematomi kitiems lankytojams.</p>
  </div>

<style type="text/css">
    select.inline { 
        position: relative; 
        opacity: 0; 
        filter: alpha(opacity=0); 
        z-index: 5; 
        margin: 0;
    } 
    select.inline:hover {
        cursor: pointer;
        border-bottom: 1px dashed gray;
    }

    .select_placeholder {
        position: absolute;
    }
    .select_placeholder i {
        vertical-align: top
        margin-top: 2px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .position_msg {
        color: #c00;
        font-weight: bold;
        font-style: italic;
    }
</style>

{% if positions %}
<hr style="clear: both">

<h2 class="hr">Politiniai sprendimai</h2>

<ul class="positions">
  {% for position in positions %}
  <li class="position" data-solution="{{ position.solution.ref.key }}">
  <span class='select_placeholder'><i class='icon-pencil'></i> Balsavo <strong class='very' title='{{ position.val }}'>{{ position.text|lower }}</strong></span>
      <select class='inline'>
          {% for val,text in position_mapping.items %}
              <option value='{{ val }}' {% if val == position.val %}selected{% endif %}>Balsavo {{ text|lower }}</option>
          {% endfor %}
      </select>
    <a class="profile-solution-title arrow-before" href="{% nodeurl position.solution.ref %}">{{ position.solution.ref.title }}</a>
    <a href="#" class="icon-remove" title="Ištrinti pasirinkimą" ></a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
$(function() {
    var url = "/testas/submit-position/";

    $(".positions .icon-remove").click(function() {
        var li = $(this).parent();
        var node = $(this).parents('.position').attr('data-solution');
        console.log(li, node, url);
        manoSeimas.submitPosition(url, node, 0, function() {
            li.hide();
        });
    });

    // NOTE: This is hacky and could likely be replaced with more clever CSS.
    sync_dimensions = function(src, target) {
        target.width( src.width() );
        target.height( src.height() );
    }
    $("select.inline").each(function() {
        sync_dimensions( $(this).prev(), $(this) );
    });
    
    $("select.inline").hover(
        function() { 
            $(this).prev().css("border-bottom", "1px dashed gray");
            $(this).prev().find("i").fadeTo(500, 1);
        },
        function() { 
            $(this).prev().css("border-bottom", "0");
            $(this).prev().find("i").stop().fadeTo(100, 0);
        }
    );

    $("select.inline").change(function() {
        val = $(this).find("option:selected").val()
        text = $(this).find("option:selected").text()
        placeholder = $(this).prev();
        placeholder.html( text.replace(/^Balsavo (.+)$/, "<i class='icon-pencil'></i> Balsavo <strong class='very'>$1</strong>") );
        sync_dimensions( placeholder, $(this) );

        var node = $(this).parents('.position').attr('data-solution');
        
        msgEl = $("<span class='position_msg'>Saving...</span>")
        msgEl.appendTo($(this).parent())

        _self = $(this);
        manoSeimas.submitPosition(url, node, val, function() {
            msgEl.text('Saved!');
            msgEl.css('color', 'green');
            msgEl.fadeOut({duration:1500, easing:'linear'});
        });
    });
});
</script>
{% endblock %}
