{% extends "sboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load manoseimas %}
{% load sboard %}

{% block content %}
<h1>Naudotojas</h1>
<p>{% nodeimage profile 'large' %}</p>
<div class="profile-box">
  <div>
    <h1>{{ profile.title|default:profile.user.username }}</h1>
  </div>
</div>

{% if positions %}
<hr style="clear: both">

<h2 class="hr">Politiniai sprendimai</h2>

<ul class="positions">
  {% for position in positions %}
  <li>
    Balsavo <strong class="very" title="{{ position.percent }}">{{ position.position|lower }}</strong>
    <a class="profile-solution-title arrow-before" href="{% nodeurl position.solution.ref %}">{{ position.solution.ref.title }}</a>
    <a href="#" class="icon-remove" title="Ištrinti pasirinkimą" data-solution="{{ position.solution.ref.key }}"></a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
$(function() {
  $(".positions .icon-remove").click(function() {
    var li = $(this).parent();
    var node = $(this).attr('data-solution');
    var url = "/testas/submit-position/";
    console.log(li, node, url);
    manoSeimas.submitPosition(url, node, 0, function() {
      li.hide();
    });
  });
});
</script>
{% endblock %}
