$black: #202a36;
$dark: #646464;
$gray: #b7b7b7;
$grey: $gray;
$green: #00a162;
$red: #ca0837;
$background: #f0f0f0;
$facebook: #3b5998;

$textColor: $black;

$tiny: 12px;
$small: 14px;
$normal: 16px;
$medium: 20px;
$big: 24px;
$huge: 34px;

$radius: 3px;

$container-width: 960px;