@import "_variables";

:global body {
  font-family: 'Roboto', sans-serif;
}

:global h2 {
  color: $black;
  margin-top: 0;
  font-weight: normal;
  font-size: $huge;
  font-family: 'Roboto', sans-serif;

  @media(max-width: 768px) {
    font-size: $big;
  }
}

:global h3 {
  font-family: 'Roboto', sans-serif;
  font-size: $big;
  font-weight: normal;

  @media(max-width: 768px) {
    font-size: $medium;
  }
}

:global header {
  margin-bottom: 50px;

  @media(max-width: 768px) {
    margin-bottom: 25px;
  }
}

:global a {
  cursor: pointer;
}

:global p {
  color: $black;
  font-weight: 300;
  font-family: 'Roboto' !important;
  line-height: 1.3;
  margin-top: 5px;
}

:global .inline {
  display: inline-block;
}

:global .button {
  display: inline-block;
  padding: 1em 4em;
  background-color: $black;
  color: white;
  font-size: $normal;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;

  &:hover {
    background-color: color($black a(90%));
    cursor: pointer;
  }

  @media(max-width: 768px) {
    width: calc(100% - 40px);
    text-align: center;
    padding: 15px;
  }
}

:global #compat-app {
  @media(max-width: 768px) {
    padding: 15px;
  }
}


.small_button {
  display: inline-block;
  padding: 6px 15px;
  margin-right: 15px;
  background-color: $black;
  color: white;
  font-size: $small;
  font-weight: 300;
  text-decoration: none;
  border-radius: $radius;
  width: 150px;

  &:hover {
    background-color: color($black a(90%));
    cursor: pointer;
  }
}

.base_button {
  background-color: #fff;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  display: inline-block;
  padding: 15px 0;
  margin-right: 15px;
  font-family: 'Roboto' !important;
  font-size: $normal;
  font-weight: bold;
  text-transform: uppercase;
  width: 30%;
  text-align: center;

  &:hover {
    background-color: color(#fff blackness(3%));
    cursor: pointer;
  }

  @media(max-width: 768px) {
    &:hover {
      background-color: #fff;
    };
  }
}

.note {
  font-style: italic;
  font-weight: 300;
  font-size: $small;
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  max-width: 550px;
}

.block {
  margin-left: 80px;
}

.content {
  lost-column: 3/4 0;
  margin-right: 0 !important;
  margin-bottom: 50px;
  padding-right: 10px;

  h2 {
    margin-bottom: 50px;
  }
}

.context {
  min-height: 300px;
  margin-top: 60px;
  lost-column: 1/4 0;

  img {
    padding: 10px;
    width: calc(100% - 20px);
  }
}

.context-image {
  compose: context;
  border: 2px dashed $grey;
  margin-top: initial;
}

.text {
  display: inline-block;
  color: $black;
  font-size: $big;
  font-style: normal;
  font-weight: 300;
  font-family: 'Roboto' !important;
  width: calc(100% - 90px);
  margin-left: 15px;
  line-height: 1.3;

  strong {
    font-weight: normal;
  }
}

.img {
  margin-right: 20px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 3px $grey;
  background-color: #fff;

  img {
    width: 105%;
    height: auto;
    margin: -1px 0 0 -1px;
  }
}
