// Switcher
// -----------
.switcher {
  border: 1px solid $msBlue;
  border-radius: $borderRadius;
  display: inline-block;
  margin: 2em auto 1em auto;
  overflow: hidden;
  font-size: $small;
  padding: 0 !important;

  .item {
    padding: 0.3em 4em;
    position: relative;
    display: inline-block;
    color: $msBlue;
  }

  .active,
  :hover {
    background-color: $msBlue;
    color: $white;
    text-decoration: none;
  }
}
.switcher.small {
  font-size: $tiny;
  margin-top: 1em;
  float: right;

  .item { padding: 0.3em 2em; }
}


// React Loader styling
// --------------------
.loader {
  min-height: 100px;
  background: white;
  background-image: url(#{$staticRoot}/img/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}


// Decisions
// -----------
.decisions {
  padding-top: 3em;

  h3 { width: 19rem; }
  h3.supports { color: $greenDark; }
  h3.abstention { color: $yellow; }
  h3.against {color: $redDark; }

  .important {color: $red}

  .decision {
    background-color: $white;
    width: 19em;
    height: max-content;
    margin-bottom: 1em;
    display: table;
    padding: 0.5em 0.7em;
    border: 1px dashed #EBEDFB;

    a {
      display: table-cell;
      vertical-align: middle;
      font-size: $normal;
      color: $textColor;
    }

    a:hover {
      color: lighten($textColor, 30%);
    }
  }
  .decision.strong-support { border-color: $greenDark; border-left: 7px solid $greenDark; }
  .decision.support { border-color: $green; border-left: 7px solid $green; }
  .decision.lite-support { border-color: $greenLite; border-left: 7px solid $greenLite; }
  .decision.abstention { border-color: $yellow; border-left: 7px solid $yellow; }
  .decision.strong-against { border-color: $redDark; border-left: 7px solid $redDark; }
  .decision.against { border-color: $red; border-left: 7px solid $red; }
  .decision.lite-against { border-color: $redLite; border-left: 7px solid $redLite; }

  a i {
    color: $textColor;
  }
}

// Filter tabs and sidebar
// ------------------------

.ui.page.grid.fraction {
  margin: 1rem 0;
}

.sidebar {
  margin-top: 1em;
  .item {
    display: inline-block;
    background-color: $white;
    border: 1px solid $grayLite;
    padding: 0.5rem !important;
    padding-left: 1rem !important;
    margin-bottom: 0.5em;
    width: 13em;
    cursor: pointer;

    img { height: 40px; width: 40px; margin-right: 5px; cursor: inherit; }
    h4 { font-size: $small; line-height: 1.2; cursor: inherit; }

    .title {
      float: right;
      width: 8em;
      cursor: inherit;
    }
  }

  .item:hover, .item.selected {
    border-color: $greenDark;
    background-color: $greenDark;
    h4 { color: $white; }
  }
  .item.selected {
    padding: 0.8rem 0.5rem 0.8rem 1rem !important; }
}

.subtabs {
  @extend .sidebar;
  .header {
    @extend .item;
      font-size: $normal;
      font-weight: bold;
      text-align: center;
      color: $black;
      cursor: auto;
  }
  .header:hover {
    background-color: $white;
    border-color: $grayLite;
  }
  .item
    .title {
      font-size: $normal;
      width: 6.5rem;
      color: $black;
    }
    .count {
      font-size: $big;
      text-align: right;
      width: 3.6rem;
      float: left;
      color: $black;
      padding-top: 0.65rem;
    }

  .item:hover, .item.selected {
    .title { color: $white; }
    .count { color: $white; }
  }
}


// Stats box
// ----------
.colored-bg.index-stats {
  border-bottom: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.index-stats {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  .stats-description {
    font-size: $normal;
    font-weight: 200;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    color: $gray;
    max-width: 15rem;
    margin-bottom: 0;
  }
}


// Footer
// ------

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
}

.vertical-middle {
  vertical-align: middle !important;
}
