// Switcher
// -----------
.switcher {
  border: 1px solid $msBlue;
  border-radius: $borderRadius;
  display: inline-block;
  margin: 2em auto 1em auto;
  overflow: hidden;
  font-size: $small;
  padding: 0 !important;

  .item {
    padding: 0.3em 4em;
    position: relative;
    display: inline-block;
    color: $msBlue;
  }

  .active,
  :hover {
    background-color: $msBlue;
    color: $white;
    text-decoration: none;
  }
}
.switcher.small {
  font-size: $tiny;
  margin-top: 1em;
  float: right;

  .item { padding: 0.3em 2em; }
}


// React Loader styling
// --------------------
.loader {
  min-height: 100px;
  background: white;
  background-image: url(#{$staticRoot}/img/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}


// Decisions
// -----------
.decisions {
  padding-top: 3em;

  h3 { width: 19rem; }
  h3.supports { color: $greenDark; }
  h3.abstention { color: $yellow; }
  h3.against {color: $redDark; }

  .important {color: $red}

  .decision {
    background-color: $white;
    width: 19em;
    height: max-content;
    margin-bottom: 1em;
    display: table;
    padding: 0.5em 0.7em;
    border: 1px dashed #EBEDFB;

    a {
      display: table-cell;
      vertical-align: middle;
      font-size: $normal;
      color: $textColor;
    }

    a:hover {
      color: lighten($textColor, 30%);
    }
  }
  .decision.strong-support { border-color: $greenDark; border-left: 7px solid $greenDark; }
  .decision.support { border-color: $green; border-left: 7px solid $green; }
  .decision.lite-support { border-color: $greenLite; border-left: 7px solid $greenLite; }
  .decision.abstention { border-color: $yellow; border-left: 7px solid $yellow; }
  .decision.strong-against { border-color: $redDark; border-left: 7px solid $redDark; }
  .decision.against { border-color: $red; border-left: 7px solid $red; }
  .decision.lite-against { border-color: $redLite; border-left: 7px solid $redLite; }
}


// Footer
// ------

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
}

.vertical-middle {
  vertical-align: middle !important;
}
