// Front page styles
// -----------------
.index {
  .column {
    padding: 2em;
  }
}

.ui.page.grid.fraction {
  margin: 1rem 0;
}

.test-box {
  margin: 3em 0;
  p {
    margin: auto;
    width: 35em;
  }
  .ui.green.wide.button {
    margin-top: 1.5em;
  }
}

.sidebar {
  margin-top: 1em;
  .item {
    display: inline-block;
    background-color: $white;
    border: 1px solid $grayLite;
    padding: 0.5rem !important;
    padding-left: 1rem !important;
    margin-bottom: 0.5em;
    width: 13em;
    cursor: pointer;

    img { height: 40px; width: 40px; margin-right: 5px; cursor: inherit; }
    h4 { font-size: $small; line-height: 1.2; cursor: inherit; }

    .title {
      float: right;
      width: 8em;
      cursor: inherit;
    }
  }

  .item:hover, .item.selected {
    border-color: $greenDark;
    background-color: $greenDark;
    h4 { color: $white; }
  }
  .item.selected { padding: 0.8rem 1rem !important; }
}

.colored-bg.index-stats {
  border-bottom: none;
  background-color: rgba(255, 255, 255, 0.05);
}
.index-stats {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  .stats-description {
    font-size: $normal;
    font-weight: 200;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    color: $gray;
    max-width: 15rem;
  }
}