// Front page styles
// -----------------


.test-box {
  margin: auto;

  h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: $white;
    text-shadow: 1px 1px $grayDark;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    color: $white;
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 36px;
    line-height: 1.2;
  }

  .start-test.button {
    background-color: #31BC01;
    padding: 1em 2em;
    font-size: $medium;
    color: $white;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;

    &:hover {
      background-color: darken(#31BC01, 10%);
      box-shadow: none;
    }
  }

  .main {
    width: 480px;
    display: inline-block;
    // margin-left: 190px;
    margin-top: 40px;
  }

  .visualisation {
    display: inline-block;
    vertical-align: top;
    width: 220px;

    img {
      width: 220px;
      margin-left: 40px;
    }
  }

  @media($smallScreen) {
    width: 100% !important;

    h1 {
      font-size: $huge;
    }

    h2 {
      font-size: $medium;
      line-height: 1.3;
      margin-bottom: 1em;
    }

    .start-test.button {
      font-size: $normal;
    }

    .main {
      width: 90%;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .visualisation {
      display: none;
    }

  }
}

.ui.page.features {
  margin: 2rem 0;

  .title {
    font-size: $medium;
    margin-top: 5px;
  }

  .block {
    img {
      width: 250px;
    }

    .button {
      margin: 1em auto;
      display: block;
      padding: 1em 2em;
      border-radius: $borderRadius;
      background-color: $black;
      color: $white;
      width: 210px;

      &:hover {
        background-color: lighten($black, 10%)
      }
    }
    .button.wide {
      width: 260px;
      padding: 1em 2.3em;
    }
  }
}

.ui.page.donate {
  background-color: $grayLite;
  height: 120px;
  width: 100%;
  display: table;
  margin-top: 0;
  margin-bottom: 0;

  .column {
    vertical-align: middle;
    height: 105px;
    display: table-cell;
    padding: 0;
  }

  .button {
    padding: 1em 3em;
    // vertical-align: middle;
  }
}

.steps {
  margin: 2em 0;
  .step {
    display: inline-block;
    width: 120px;
    margin: 0 20px;

    .desc {
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      color: $white;
      font-size: $small;
      font-weight: 300;
      padding-top: .5em;
    }
  }

  @media($smallScreen) {
    display: none;
  }
}

.ui.page.test-steps {
  background-color: $coloredBgColor;
  padding-top: 1.5rem;
  box-shadow: 0 -1px 0 rgba(39,41,43,.05)inset;

  @media($smallScreen) {
    padding-top: .5rem;
  }

  .steps {
    .step-arrow {
      display: inline-block;
      vertical-align: top;
      img {
        width: 50px;
        margin-top: 35px;
      }
    }

    .step .desc {
      color: $textColor;
      font-weight: 500;
      font-size: $normal;
      line-height: 1.4;
      padding-top: 1em;
    }

    @media($smallScreen) {
      margin-top: 1rem;
      display: initial;

      .step {
        margin: 10px 5px;
        width: 80px;
        img {
          width: 50px
        }
        .desc {
          font-size: $tiny;
        }
      }

      .step-arrow {
        img {
          width: 30px;
          margin-top: 25px;
        }
      }
    }
  }
}

.ui.page.team {
  margin-top: 0;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  background-color: $coloredBgColor;

  h2.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: $big;
    color: $textColor;
    margin-bottom: .5em;

    @media($smallScreen) {
      font-size: $medium;
      text-align: left;
      margin-left: 2em;
    }
  }

  .person {
    margin-bottom: 2em;

    .bullet, .who {
      display: inline-block;
    }
    .bullet {
      vertical-align: top;
      width: 20px;
      height: 20px;
      box-shadow: 1px 1px 10px #888888;
      border-radius: 50%;
      margin-right: 15px;
    }

    .who {
      width: calc(100% - 40px);
      font-family: 'Roboto', sans-serif;
      vertical-align: top;
      margin-top: -2px;

      .name {
        font-weight: 500;
        font-size: $normal;

        a {
          color: $textColor;

          &:hover {
            color: lighten($textColor, 10%)
          }
        }
      }
      .role {
        font-weight: 300;
        font-size: $small;
      }
    }

    @media($smallScreen) {
      width: 250px;
      margin-left: 2.5em;
    }
  }
}
