// Bootstrap overrides
// -------------------

$grayDark:              #555;
$gray:                  #666;

$mainBgColor:           #F8FBFF;
$msBlue:                #4E78B2;
$msGreen:               #4db036;
$wellBg:                #F8F8F8;
$wellBorder:            #DDDDDD;
$headerColor:           $grayDark;
$positiveColor:         #1B9E34;
$neutralColor:          $grayDark;
$negativeColor:         #CC0000;

$textColor:             #404040;
$linkColor:             $msBlue;

$sansFontFamily:        "Open Sans", sans-serif;
$serifFontFamily:       serif;
$monoFontFamily:        monospace;


$btnBorder:                         #eee;
$btnPrimaryBackground:              #5f87bb;
$btnPrimaryBackgroundHighlight:     #4067a4;
$btnSuccessBackground:              #85c539;
$btnSuccessBackgroundHighlight:     #25a134;

// Paths

$staticRoot: "/static";

// Other variables
// ---------------

$borderRadius:          4px;
