// Bootstrap overrides
// -------------------

$white:                 #fff;
$black:                 #333;
$grayDark:              #555;
$gray:                  #777;
$grayLite:              #c8c8c8;

$mainBgColor:           #F8FBFF;
$coloredBgColor:        #f2f1f0;

$msBlue:                #4E78B2;
$msGreen:               #4db036;

$green:                 $msGreen;
$greenDark:             #2A8039;
$greenLite:             #8AD198;
$yellow:                #E89C30;
$red:                   #CC352D;
$redDark:               #A83333;
$redLite:               #D9B4B2;

$wellBg:                #F8F8F8;
$wellBorder:            #DDDDDD;
$headerColor:           $grayDark;
$positiveColor:         #1B9E34;
$neutralColor:          $grayDark;
$negativeColor:         #CC0000;

$textColor:             #404040;
$linkColor:             $msBlue;

$sansFontFamily:        "Open Sans", sans-serif;
$serifFontFamily:       serif;
$monoFontFamily:        monospace;


$btnBorder:                         #eee;
$btnPrimaryBackground:              #5f87bb;
$btnPrimaryBackgroundHighlight:     #4067a4;
$btnSuccessBackground:              #85c539;
$btnSuccessBackgroundHighlight:     #25a134;

// Paths

$staticRoot: "/static";

// Other variables
// ---------------

$borderRadius:          4px;


// Font sizes
// -----------
$tiny:                  12px;
$small:                 14px;
$normal:                16px;
$medium:                22px;
$big:                   2rem;
$huge:                  2.5rem;


// Screen sizes
// -------------
$largeScreen:           'min-width: 1480px';
$mediumScreen:          'max-width: 1280px';
$smallScreen:           'max-width: 768px';
