// mixins
// ----------------------------

.border-top-left-radius(@radius) {
     -moz-border-radius-topleft: @radius;
  -webkit-border-top-left-radius: @radius;
          border-top-left-radius: @radius;
}

.border-top-right-radius(@radius) {
     -moz-border-radius-topright: @radius;
  -webkit-border-top-right-radius: @radius;
          border-top-right-radius: @radius;
}

.border-bottom-left-radius(@radius) {
     -moz-border-radius-bottomleft: @radius;
  -webkit-border-bottom-left-radius: @radius;
          border-bottom-left-radius: @radius;
}

.border-bottom-right-radius(@radius) {
     -moz-border-radius-bottomright: @radius;
  -webkit-border-bottom-right-radius: @radius;
          border-bottom-right-radius: @radius;
}


.border-radius-top(@radius) {
  .border-top-left-radius(@radius);
  .border-top-right-radius(@radius);
}

.border-radius-bottom(@radius) {
  .border-bottom-left-radius(@radius);
  .border-bottom-right-radius(@radius);
}

.border-radius-left(@radius) {
  .border-top-left-radius(@radius);
  .border-bottom-left-radius(@radius);
}

.border-radius-right(@radius) {
  .border-top-right-radius(@radius);
  .border-bottom-right-radius(@radius);
}

// white caret
// ----------------------------

.white-caret {
  display: inline-block;
  height: 4px;
  width: 7px;
  background: url(../img/embed/white-caret.png);
  margin: 4px 2px 4px 2px;
}


// navbar
// ----------------------------

.navbar.navbar-manoseimas {
  margin-bottom: 0px;

  .navbar-inner {
    padding-left:  0;
    padding-right: 0;
    .border-radius(0);
    .box-shadow(none);
    background: none;
    border: none;
  }

  .container {
    #grid > .core > .span(@gridColumns);
  }

  .nav {
    & > li > a {
      padding-top: 16px;
      text-shadow: none;
      font-size: @baseFontSize + 2;
    }

    li.dropdown .dropdown-toggle .caret,
    li.dropdown.open .caret {
      border-top-color: @black;
      border-bottom-color: @black;
    }

    li.dropdown.open > a {
      background: transparent;
    }
  }

  .node-image-small {
    padding: 4px 4px 0 0;
  }
}

// top-menu
// ----------------------------

#top-menu-inner {
  background: @msBlue;
  height: 32px;
  min-height: 32px;

  #top-menu .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;

    & > li {
      display: block;
      float: left;
    }

    & > li > a {
      float: none;
      padding: 0;
      line-height: 32px;
      text-decoration: none;
      color: @white;
      font-size: @baseFontSize + 2;

      &:hover {
        color: @white;
        background-color: transparent;
      }
    }
  }
}


// logo-bar
// ----------------------------

#logo-bar-inner {
  #gradient > .vertical(@white, #eee);
  border-bottom: 1px solid @wellBorder;

  #logo-bar {
    height: 58px;

    .brand {
      margin: 0;
      padding: 13px 0 13px 0;
    }
  }
}

#search-box {
  float: right;
  padding: 14px 0 14px 0;
  margin: 0;
  position: relative;

  .search-query {
    padding: 4px 28px 4px 8px;
    .border-radius(@borderRadius);
    .box-shadow(inset 1px 2px 7px #e0e0e0);
    #gradient > .vertical(#fafafa, @white);
    width: 300px;
  }

  .submit {
    display: block;
    border: none;
    background-color: transparent;
    .size(20px, 20px);
    position: absolute;
    top: 21px;
    right: 4px;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }
}

// middle
// ----------------------------

#middle {
  background-color: @mainBgColor;

  .content {
    background-color: @white;
    border-left: 1px solid @wellBorder;
    border-right: 1px solid @wellBorder;

    margin-left: 6px;

    .content-inner {
      padding: 20px 40px 20px 40px;

      input, textarea, select, .uneditable-input {
        width: 100%;
      }

      .form-vertical {
        textarea#id_body {
          height: 400px;
        }
      }

      .form-actions:last-child {
        margin: 20px -40px -40px -40px;
      }

      .node-image {
        float: left;
      }

      .node-image-normal {
        .node-image;
        margin-right: 8px;
      }

      .node-image-large {
        .node-image;
      }
    }
  }

  .header-bar-mixin {
    border-top: 1px solid @wellBorder;
    border-bottom: 1px solid @wellBorder;
    #gradient > .vertical(#F8FAFC, #F1F3F7);
    padding: 0;
    display: block;
    font-size: 16px;
    text-align: center;
    color: @msBlue;
    font-weight: 600;
    line-height: 31px;
    text-transform: uppercase;
  }

  .sidebar {
    margin-left: 0px;

    .well {
      border: none;
    }

    .sidebar-inner {
      position: fixed;
    }

    .nav-list {
      width: 156px;
      background-color: @wellBg;
      border: 1px solid @wellBorder;
      margin: -1px 0 20px -1px;
      padding-bottom: 7px;

      & > li > a {
        padding: 4px 7px 4px 15px;
        color: @gray;
        line-height: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .positive > a { color: lighten(desaturate(@positiveColor, 30%), 10%); }
      .negative > a { color: lighten(desaturate(@negativeColor, 30%), 10%); }

      & > li.active {
        a {
          color: @white;
        }
          position: relative;
          &:before {
            content: url(../img/embed/active-menuitem-arrow.png);
            position: absolute;
            left: -26px;
            top: 0px;
          }
      }

      & > li:first-child {
        margin-top: 7px;
      }

      .nav-header {
        .header-bar-mixin;
        margin: 0 -15px 7px -15px;
        padding-left: 15px;
        text-align: left;

        &:first-child {
          border-top: none;
          margin-top: 0;
        }
      }
    }
  }

  .content-inner > h1:first-child, .section:first-child h1:first-child {
    .header-bar-mixin;
    margin: -20px -40px 20px -40px;
    border-top: none;
  }

  .section h1:first-child {
    .header-bar-mixin;
    margin: 20px -40px 20px -40px;
  }

  h2.argument {
    text-align: center;
    margin-top: 0;
    font-size: @baseFontSize + 2px;
    font-weight: 700;
    color: #333;

    a {
      color: #333;
    }
  }

  .bar {
    border-top: 1px solid @wellBorder;
    border-bottom: 1px solid @wellBorder;
    margin: 10px -40px 20px -40px;
    padding: 5px;
    background: #f8fafc;
  }

  .footnote-reference {
    margin: 0 2px 0 2px;
  }

  table.footnote {
    text-align: left;
    width: 700px;
    table-layout: fixed;

    td {
      padding: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: normal;
      color: #aaa;

      a {
        color: #888;
      }
    }

    .label {
      width: 30px;
      background: transparent;
    }
  }

  .positive { color: @positiveColor; }
  .negative { color: @negativeColor; }
  .percent { font-weight: 600; }

  #filter-fraction {
    width: 40%;
    display: block;
    margin: 0 auto 20px auto;
  }

  table.positive-negative {
    width: 100%;

    h2 {
      margin-bottom: 5px;
      a {
        font-weight: 600;
        font-size: @baseFontSize;
      }
    }

    .result a {
      font-weight: normal;
      color: #444;
    }

    .node-image {
      margin-right: 20px;
    }

    .percent {
      font-weight: 700;
      font-size: @baseFontSize + 2px;
    }

    .fraction .percent:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    td {
      width: 50%;
    }

    td, .result {
      vertical-align: top;
      border-bottom: 1px solid @wellBorder;
      padding: 16px 8px;
    }

    td.result-container {
      padding: 0;
    }

    td:first-child {
      border-right: 20px solid white;
    }

    td.empty {
      text-align: center;
      padding: 20px;
    }

    tr:last-child td {
      border-bottom: none;
    }

    tr.actions td {
      border-bottom: none;
      text-align: center;

      .btn-group {
        margin-top: 8px;
        margin-bottom: 16px;
        margin-left: 230px;
      }
    }

    h2 {
      font-size: 16px;
      line-height: 18px;
      font-weight: normal;
    }

    .item-box {
      float: left;
      width: 40px;
      text-align: center;
    }
    .item-content {
      margin-left: 40px;
    }

    .result-description {
      display: table-cell;
      vertical-align: middle;
      height: 80px;

      p {
        margin: 0;
      }

      .sub-title {
        color: #777;
        font-size: @baseFontSize - 2px;
      }
    }

    .colored-table-header(@color) {
      color: @color;
      border-bottom: solid 1px @color;
      text-align: center;
      font-weight: 400;
      font-size: @baseFontSize + 4px;
      padding: 8px 0 8px 0;
      h2 { color: @color }
    }

    .positive-header { .colored-table-header(@positiveColor); }
    .negative-header { .colored-table-header(@negativeColor); }

    .imprecise, .inactive {
      .opacity(50);
      .positive-percent, .negative-percent {
        font-weight: 400;
      }
    }
  }

  ul.positions {
    list-style: none;
    margin: 10px 0 20px 0;

    li {
      display: block;
      width: 100%;
      margin: 4px 0;

      .icon-remove {
        margin-left: 10px;
        vertical-align: middle;
        .opacity(40);
        visibility: hidden;
      }

      &:hover .icon-remove {
        visibility: visible;

        &:hover {
          .opacity(90);
        }
      }
    }
  }

  .counter-arguments-toggle {
    display: block;
    width: 100%;
    color: #666;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #444;
    }

    .caret {
      margin-top: 8px;
    }
  }

  ul.counter-arguments {
    list-style: none;
    color: #666;
    margin: 0;

    li {
      border-top: 1px solid @wellBorder;
      padding-top: 20px;
      margin-bottom: 20px;
    }

    &.inline li {
      border: none;
      padding: 0;
      margin: 10px 10px;
    }
  }

  .fraction-members {
    display: block;
    list-style: none;
    margin: 10px 0;

    li {
      display: block;
      float: left;
      vertical-align: middle;
      line-height: @baseLineHeight;
      width: 32%;
      height: 50px;
      margin: 6px 6px 6px 0;

      span {
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        padding-left: 10px;
      }
    }
  }

  .nav-tabs {
    margin: 20px -40px;
    padding: 0 20px;

    li {
      width: 50%;
      text-align: center;
      font-weight: 600;
    }
  }
}

.manoseimas-breadcrumb {
  padding: 7px 14px;
  margin: 0 0;
  list-style: none;
  li {
    display: inline-block;
    .ie7-inline-block();
  }
  .divider {
    padding: 0 5px;
    color: @grayLight;
  }
  .active a {
    color: @grayDark;
  }
}


// index
// ----------------------------

#middle.index {
  background: url(../img/skies.jpg) no-repeat center top;

  h1 {
    text-align: center;
    font-size: 50px;
    line-height: 44px;
    padding: 44px;
    font-weight: 300;

    strong {
      font-weight: 400;
    }
  }

  .icons {
    margin: 0 auto;
    width: 788px;
    height: 228px;

    & > * {
      float: left;
      margin: 20px 30px;
    }

    & > * > img {
      width: 140px;
      height: 138px;
    }

    p {
      line-height: 40px;
      font-size: 16px;
      color: #777;
      text-align: center;
    }

    .arrow {
      padding: 61px 0;
      width: 23px;
    }
  }

  .begin-test {
    padding: 9px;
    .border-radius(9px);
    border: solid 1px #ddd;
    width: 320px;
    margin: 15px auto 55px auto;

    .btn {
      font-weight: 700;
      font-size: 32px;
      line-height: 55px;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}


// footer
// ----------------------------

footer {
  padding: 20px 0 20px 0;
  background: @white;
  border-top: 1px solid @wellBorder;

  h2 {
    color: #2A4C96;
    font-size: @baseFontSize;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: @baseLineHeight;
  }

  a {
    color: @gray;
  }

  .content {
    padding-left: 20px;

    .tils {
      padding: 0;
      margin: 5px 0;
      width: 189px;
      height: 49px;
      background: url("../img/tils-sprite.png") no-repeat 0px 0px;
    }

    .tils:hover {
      background-position: 0px -49px;
    }
  }

  .license {
    text-align: right;
  }

  .nav {
    li {
      margin-top: 7px;
    }

    li > a {
      display: inline;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .follow-us a {
    padding-left: 8px;
  }
}


// sprites
// ----------------------------

[class^="icon-soc"],
[class*=" icon-soc"] {
  @size: 18px;
  width: @size;
  height: @size;
  line-height: @size;
  background-position: @size @size;
  background-image: url("../img/social-networks-sprite.png");
}

.icon-soc-facebook { background-position: 0      0; }
.icon-soc-google   { background-position: -18px  0; }
.icon-soc-twitter  { background-position: -36px  0; }


// test
// ----------------------------

.btn-show-results {
  .btn-success;
  .btn-large;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: 200px;
  margin: 5px auto 5px auto;
  padding: 6px;

  &:hover {
    .btn-success;
  }
}

.sidebar .btn-show-results {
  width: 174px;
  font-weight: 600;
  .border-radius-left(0);
  margin: 20px 0;
  border-left: none;
}

.test-questions {
  .btn-mini {
    font-size: 14px;
  }

  .accordion-group {
    border: none;
  }

  .positive-negative {
    margin-top: 20px;
  }
}

#argumentai {
  margin-top: 20px;
}

.answers {
  text-align: center;
  margin: 16px 0 0 0;

  .btn {
    line-height: @baseLineHeight - 4px;
    min-width: 90px;
    font-weight: 600;
  }
}

.compat-preview {
  display: none;
}

.profile-box {
  text-align: center;
  display: table;
  margin: 0;
  .size(135px, 470px);

  div {
    display: table-cell;
    vertical-align: middle;

    h1 {
      margin-bottom: 0;
    }

    a.fraction, a.fraction:hover {
      color: @gray;
    }
  }
}

.position-scale {
  clear: both;
  padding: 14px 10px 20px 10px;
  background: url(../img/position-scale.png) no-repeat 0px 0px;
  font-weight: 600px;

  .positive { float: left; }
  .negative { float: right; }
}


// base styles
// ----------------------------

h1, h2, h3, h4, h5 {
  color: @headerColor;
  margin-top: @baseLineHeight;
  margin-bottom: @baseLineHeight/2;
  font-weight: 600;

  &:first-child {
    margin-top: auto;
  }
}

strong {
  font-weight: 600;
}

strong.very {
  font-weight: 700;
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 14px; }
h6 { font-size: 14px; }

.arrow-content() {
  content: url(../img/embed/inline-header-arrow.png);
  padding: 0 8px 0 7px;
  position: relative;
  top: -2px;
  color: #333;
}

.inline-header {
  color: @msGreen;
  float: left;
  font-size: @baseFontSize + 2px;
  line-height: @baseLineHeight;
  padding: 0;
  margin: 0;
  font-weight: 600;

  a {
    color: @msGreen;
  }
}

.profile-solution-title {
  color: @textColor;
  font-weight: 600;
  display: inline-block;
  .ie7-inline-block();
  float: none;
  font-size: @baseFontSize;

  &:hover, a {
    color: @textColor;
  }
}


.arrow-after:after {
  .arrow-content();
}

.arrow-before:before {
  .arrow-content();
}

a {
  cursor: pointer;
}

a.stealth {
  color: @headerColor;
}

a.more {
  color: #666;
  font-weight: normal;
  text-decoration: underline;
}

h2.hr {
  color: #333;
  border-bottom: 1px solid @wellBorder;
}

hr {
  margin: 24px -40px;
  border-top: none;
  border-bottom: 1px solid @wellBorder;
}

.description {
  border-bottom: 1px dotted #c6c6c6;
  cursor: help;
}
