{% extends "sboard/base.html" %}
{% load i18n %}
{% load sboard %}

{% block content %}
  <h1>{{ title }}</h1>

  <div class="alert alert-warning">
    {% blocktrans %}
    Dėmesio! Po šios operacijos įvykdymo, nebebus galima atstatyti perkeltų
    balsavimų.
    {% endblocktrans %}
  </div>

  <form method="post">
    {% csrf_token %}
    {% include "form_fields.html" %}

    <h2>{% trans "Balsavimai" %}</h2>

    <p>{% trans "Šios partijos balsavimai, kurie bus priskirti kitai partijai:" %}</p>

    {% for voting in votings %}
    <p><a href="{% nodeurl voting %}">{{ voting.title }}</a></p>
    {% endfor %}

    <p>{% trans "...viso balsavimų:" %} {{ num_of_votings }}</p>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Sujungti" %}</button>
    </div>
  </form>

{% endblock %}
