{% extends "sboard/base.html" %}
{% load i18n %}
{% load sboard %}

{% block content %}
  <h1>Frakcija</h1>
  {% nodeimage node 'large' %}
  <div class="profile-box">
    <div>
      <h1>{{ title }}</h1>
    </div>
  </div>

  <hr>
  <h2 class="hr">Politiniai sprendimai</h2>

  <ul class="positions">
    {% for position in positions %}
    <li>
      Balsavo <strong title="{{ position.percent }}">{{ position.position|lower }}</strong> temą
      <a class="profile-solution-title arrow-before" href="{% nodeurl position.solution.ref %}">{{ position.solution.ref.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <hr>
  <h2 class="hr" id="nariai">Frakcijos nariai</h2>
  {% if members %}
  <ul class="fraction-members">
    {% for member in members %}
    <li>
      <a class="stealth" href="{% nodeurl member %}">
        {% nodeimage member 50 %}
        <span>
          {{ member.title }}
        </span>
      </a>
    </li>
    {% endfor %}
    <div style="clear: both"></div>
  </ul>
  {% else %}
  <p>{% trans "Ši frakcija neturi narių." %}</p>
  {% endif %}
{% endblock %}
