<a class="help" href="#profile-help" data-toggle="modal"></a>
<div class="modal hide fade" id="profile-help">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pagalba</h3>
  </div>
  <div class="modal-body">
    <p>Seimo narių ir frakcijų pozicijos išreikštos žodžiais, nes taip yra
    patogiau suprasti nei procentais. Žodinės pozicijos atitinka procentines
    pagal šias nuostatas:</p>
    <ul>
      <li>"stipriai už" = nuo 66% iki 100%</li>
      <li>"vidutiniškai už" = nuo 33% iki 66%</li>
      <li>"nestipriai už" = nuo 0% iki 33%</li>
      <li>"neutraliai" = 0%</li>
      <li>"nestipriai prieš" = nuo 0% iki -33%</li>
      <li>"vidutiniškai už" = nuo -33% iki -66%</li>
      <li>"nestipriai už" = nuo -66% iki -100%</li>
    </ul>
  </div>
</div>
