<a class="help" href="#profile-help" data-toggle="modal"></a>
<div class="modal hide fade" id="profile-help">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pagalba</h3>
  </div>
  <div class="modal-body">
    <p>Procentai parodo laipsnį, kiek frakcijos ir Seimo nariai palaiko
    pasirinktą temą. Jie apskaičiuojami pagal tris rodiklius: balsavimų
    skaičių, jų svarbą ir tai, kiek frakcijos narių balsavo. Daugiau žiūrėti <a
      class="reference external"
      href="http://manoseimas.lt/kaip-tai-veikia/">čia</a>). Palaikymo
    reikšmės:</p>

    <ul class="simple">
      <li><strong>stipriai už</strong> = nuo 66% iki 100%</li>
      <li><strong>vidutiniškai už</strong> = nuo 33% iki 66%</li>
      <li><strong>nestipriai už</strong> = nuo 0% iki 33%</li>
      <li><strong>neutraliai</strong> = 0%</li>
      <li><strong>nestipriai prieš</strong> = nuo 0% iki -33%</li>
      <li><strong>vidutiniškai prieš</strong> = nuo -33% iki -66%</li>
      <li><strong>stipriai prieš</strong> = nuo -66% iki -100%.</li>
    </ul>

    <p>Stipri <strong>Seimo nario</strong> pozicija rodo, kad jis visuose
    balsavimuose balsavo panašiai. Nestipri (silpna) pozicija gali reikšti, kad
    Seimo narys per balsavimus "susilaikė", arba kad kartais balsavo vienaip, o
    kartais - kitaip.</p>

    <p>Stipri <strong>frakcijos</strong> pozicija rodo, kad visi frakcijos
    nariai balsavo panašiai. Silpna pozicija gali reikšti, kad frakcija neturi
    aiškios pozicijos temos atžvilgiu.</p>
  </div>
</div>
