{% extends "sboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load manoseimas %}
{% load sboard %}

{% block content %}
<h1>Seimo narys</h1>
<p>{% nodeimage profile 'large' %}</p>
<h1>{{ profile.title }}</h1>

{% with fraction=profile.fraction %}
{% if fraction %}
<p><a href="{% nodeurl fraction %}">{{ fraction.title }}</a></p>
{% endif %}
{% endwith %}

{% if profile.home_page %}
<p><a href="{{ profile.home_page }}">{% trans "Home page" %}</a></p>
{% endif %}

{% if profile.dob %}
<p>{% trans "Date of birth" %}: {{ profile.dob }} ({{ profile.age }} {{ profile.age|age_plural }})</p>
{% endif %}

<hr style="clear: both">

<h2>Politiniai sprendimai</h2>

{% for position in positions %}
<p>Balsavo <strong title="{{ position.percent }}">{{ position.position|lower }}</strong> temą
<a class="profile-solution-title arrow-before" href="{% nodeurl position.solution.ref %}">{{ position.solution.ref.title }}</a></p>
{% endfor %}
{% endblock %}
