{% extends "sboard/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load manoseimas %}
{% load sboard %}

{% block content %}
<h1>Seimo narys</h1>
<p>{% nodeimage profile 'large' %}</p>
<div class="profile-box">
  <div>
    <h1>{{ profile.title }}</h1>

    {% if profile.fraction %}
      <p><a class="fraction" href="{% nodeurl profile.fraction.ref %}">{{ profile.fraction.ref.title }}</a></p>
    {% endif %}

    {% if profile.home_page %}
    <p><a href="{{ profile.home_page }}">{% trans "Home page" %}</a></p>
    {% endif %}
  </div>
</div>

<hr style="clear: both">

<h2>Politiniai sprendimai</h2>

<ul class="positions">
  {% for position in positions %}
  <li>
    Balsavo <strong title="{{ position.percent }}">{{ position.position|lower }}</strong> temą
    <a class="profile-solution-title arrow-before" href="{% nodeurl position.solution.ref %}">{{ position.solution.ref.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
