{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}
{% load cache %}

{% block node_body %}
  {% cache 3600 mps_position node.key %}
  <ul class="nav nav-tabs" id="result-tabs">
    <li class="active"><a href="#frakcijos" data-toggle="tab">Frakcijos</a></li>
    <li><a href="#seimo-nariai" data-toggle="tab">Seimo nariai</a></li>
  </ul>

  <div class="tab-content">
      <div class="tab-pane active" id="frakcijos">
      <a class="help" href="#position-help" data-toggle="modal"></a>
      
      <table class="positive-negative">
        <tbody>
          <tr>
            <td class="positive-header" style="width: 50%">{% trans "PALAIKO" %}</th>
            <td class="negative-header">{% trans "NEPALAIKO" %}</th>
          </tr>
          <tr>
            {% for position in fractions %}
            <td class="result-container">
                {% for f in position %}
                <div class="result fraction">
                    <a href="{% nodeurl f %}" title="Dalyvavimas: {{ f.participation }}%">
                        {% nodeimage f 80 %}
                    </a>
                    <span class="result-description" title="Dalyvavimas: {{ f.participation }}%">
                        <p>
                            <span data-slug="{{ f.slug }}" class="{% if f.supports %}positive{% else %}negative{% endif %} percent">{{ f.viso }}%</span>
                        </p>
                        <p>
                            <a href="{% nodeurl f %}">
                                {{ f.title }}
                            </a>
                        </p>
                        <p class="sub-title">{{ f.abbreviation }}</p>
                    </span>
                </div>
                {% endfor %}
            </td>
            {% endfor %}
        <tbody>
      </table>
    </div>

    <!-- Correct for some aspects of the positive-negative class -->
    <style>
        #seimo-nariai td {
            width: 33% !important;
        }

        #seimo-nariai td:last-child {
            border-left: 20px solid white !important;
        }

    </style>
      <div class="tab-pane" id="seimo-nariai">
      <a class="help" href="#position-help" data-toggle="modal"></a>
      <select id="filter-fraction">
        <option value="" selected>{% trans "Visos frakcijos" %}
        {% for f in voting.fractions %}
            <option value="{{ f.slug }}">{{ f.title }}</option>
        {% endfor %}
      </select>
      
      <table class="positive-negative">
        <tbody>
          <tr>
            <td class="positive-header">{% trans "UŽ" %}</th>
            <td class="negative-header">{% trans "PRIEŠ" %}</th>
            <td class="neutral-header">{% trans "SUSILAIKĖ" %}</th>
          </tr>
          <tr>
            {% for vote_type in mps %}
            <td class="result-container">
                {% for mp in vote_type %}
                <div class="result mpprofile fraction-{{ mp.fraction.ref.slug }}">
                    <a href="{% nodeurl mp %}">
                        {% nodeimage mp 80 %}
                    </a>
                    <span class="result-description">
                        <p>
                            <a href="{% nodeurl mp %}">
                                {{ mp.title }}
                            </a>
                        </p>
                        <p class="sub-title">{{ mp.fraction.ref.abbreviation }}</p>
                    </span>
                </div>
                {% endfor %}
            </td>
            {% endfor %}
        <tbody>
      </table>
    </div>
  </div>
  {% endcache %}

  <div class="modal hide fade" id="position-help">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Pagalba</h3>
    </div>
    <div class="modal-body">
      <p>Procentai parodo, kiek frakcijos ir Seimo nariai palaiko pasirinktą
      temą. Skaičiuojant šiuos procentus, atsižvelgiama į balsavimų kiekį, šių
      balsavimų svarbą ir balsavusių Seimo narių skaičių.</p>

      <p><strong>Frakcijos</strong> pozicija gaunama apskaičiavus visų šiai
      frakcijai priklausančių Seimo narių balsavimus ir išvedus jų vidurkį.
      <em>Pavyzdžiui, trys frakcijos nariai (dalyvavę tiek pat balsavimų) turi
        pozicijas 30%, 67% ir -16%. Tuomet frakcijos pozicija bus lygi
        (30+67-16)/3 = 27%.</em></p>

      <p><strong>Seimo nario</strong> pozicija apskaičiuojama pagal jo
      balsavimus Seime, taip pat atsižvelgiant į tų balsavimų reikšmę temai.
      <em>Pavyzdžiui, temai "Lietuva" yra priskirti trys (vienodos vertės)
        balsavimai, kuriuose Seimo narys balsavo "už", "prieš" ir "susilaikė".
        Tada šio Seimo nario pozicija bus lygi (2-2-1)/(2+2+2) = (-1)/6 =
        -17%.</em></p>

      <p><a href="/kaip-tai-veikia/">Išsamiau &ndash; čia</a>.</p>
    </div>
  </div>

  {% include "partials/inactive_help.html" %}
{% endblock %}

{% block inlinejs %}
<script type="text/javascript">
$(manoSeimas.activateFractionFilter);
</script>
{% endblock %}

{% block additional_sidebar %}
{% include "partials/return_to_test.html" %}
{% endblock %}
