{% extends "base.html" %}
{% load i18n %}


{% block container %}
<div class="row">
    <div class="span12">
        <h1>{{ page.title }}</h1>
    </div>
</div>

<div class="row">
    <div class="span9">
        <p class="well">2010 m. Seime buvo pasiūlyta įteisinti galimybę fiziniams asmenims bankrutuoti. Tokia praktika yra taikoma Latvijoje ir kt...</p>

        <div class="row">
            <div class="span3">
                <div class="alert alert-success" style="padding: 8px;">
                    <img src="http://www.lrv.lt/bylos/nuotraukos/ministrai/rimantas-zylius.jpg" align="left" style="height: 60px; margin: 0 8px 5px 0;">
                    <b>Rimantas Žylius:</b> Vyriausybė Integer nisi purus, porttitor nec scelerisque sit amet, tristique ultrices sem. Suspendisse ultricies nisl vitae arcu aliquet vel cursus ipsum dapibus. Aenean nec suscipit augue. In in tellus eget eros adipiscing lobortis ut sed nunc. Etiam at erat tortor, non lobortis sem.</div>

            </div>

            <div class="span3">
                <b>LSDP frakcija</b><br>
                <div class="progress progress-compact progress-success"><div class="bar" style="width: 70%;"> 70% už</div></div>
                <b>TS-LKD frakcija</b><br>
                <div class="progress progress-compact progress-success"><div class="bar" style="width: 60%;"> 60% už</div></div>
                <b>DP frakcija</b><br>
                <div class="progress progress-compact progress-success"><div class="bar" style="width: 56%;"> 56% už</div></div>
                <b>Frakcija "T ir T"</b><br>
                <div class="progress progress-compact progress-success"><div class="bar" style="width: 54%;"> 54% už</div></div>
                <b>DP frakcija</b><br>
                <div class="progress progress-compact progress-success"><div class="bar" style="width: 51%;"> 51% už</div></div>
                <b>LiCS frakcija</b><br>
                <div class="progress progress-compact progress-danger"><div class="bar" style="width: 62%;"> 62% prieš</div></div>
                <b>KP frakcija</b><br>
                <div class="progress progress-compact progress-danger"><div class="bar" style="width: 72%;"> 72% prieš</div></div>
                <b>LS frakcija</b><br>
                <div class="progress progress-compact progress-danger"><div class="bar" style="width: 84%;"> 84% prieš</div></div>
            </div>

            <div class="span3">
                <p class="alert alert-error" style="padding: 8px;">
                    <img src="http://www3.lrs.lt/home/seimo_nariu_nuotraukos/2008/erikas_tamasauskas_m.jpg" align="right" style="margin: 0 0 5px 8px;">
                    <b>Erikas Tamašauskas:</b>
                    Laisva rinka Integer nisi purus, porttitor nec scelerisque sit amet, tristique ultrices sem. Suspendisse ultricies nisl vitae arcu aliquet vel cursus ipsum dapibus. Aenean nec suscipit augue. In in tellus eget eros adipiscing lobortis ut sed nunc. Etiam at erat tortor, non lobortis sem.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="span4">
                <p class="alert alert-muted" style="padding: 8px;">
                    <img src="http://www.lmma.ku.lt/diskusijos_files/Donskis.jpg" style="height: 56px; margin-right: 8px;" align="left">
                    <b>Leonidas Donskis:</b> Integer nisi purus, porttitor nec scelerisque sit amet, tristique ultrices sem.</p>
            </div>
            <div class="span4">
                <p class="alert alert-muted" style="padding: 8px;">
                    <img src="http://www.ukioklubas.lt/Uploads/images/Straipsni%C5%B3%20foto/%C5%BDem%C4%97s%20%C5%ABkis/%C5%BDem%C4%97s%20%C5%ABkis/zilvinas%20silenas.gif" style="height: 56px; margin-right : 8px;" align="left">
                    <b>Žilvinas Šilėnas (LLRI):</b> Integer nisi purus, porttitor nec scelerisque sit amet, tristique ultrices sem.</p>
            </div>
            <div class="span1">
                <p class="alert alert-muted" style="padding: 8px; cursor: pointer;">
                <br>&nbsp;&nbsp; <i class="icon-chevron-right"></i><br>&nbsp;</p>
            </div>
        </div>
        <hr style="margin-top: 0;">
        <h2>Lankytojų argumentai:</h2>
        <div class="row" style="margin-top: 18px;">
            <div class="span3">
                <div class="alert alert-success alert8"><b>Ūkininkas Petras:</b> Man visas derlius nudžiūvo ir ką daryti, buvau paėmęs paskolą, o niekas nepadeda...</div>
                <textarea></textarea>
                <button class="btn">Komentuoti</button>
            </div>
            <div class="span3">
                <div class="alert alert-muted alert8"><b>dr. Edgaras Konomistas:</b> Įvairios šalys taiko įvairius modelius ir turin omenyje BVP kilimą ir eksporto didėjimą, bei darbo santykių lankstumą, būtų protinga įvesti pirma tam tikrus apribojimus, o kaip sako Vienos mokyklos teorija.</div> 
                <textarea></textarea>
                <button class="btn">Komentuoti</button>
            </div>
            <div class="span3">
                <div class="alert alert-danger alert8"><b>Vaidas Erslininkas:</b> Man klientai neatsiskaito ir jei kiekviena individuali įmonė pradės bankrutuoti, aš bankrutuosiu ir pats. Kils branduolinė reakcija, kuri sunaikins visą verslą Lietuvoje.</div>
                <textarea></textarea>
                <button class="btn">Komentuoti</button>
            </div>
        </div>
    </div>

    <div class="span3">

        <h3>Naujienų srautas:</h3>
        
<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'swl2012',
  interval: 30000,
  title: '#fizbankrotas',
  subject: '',
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#8ec1da',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    behavior: 'default'
  }
}).render().start();
</script>


        <br><h4 class="alert alert-heading">Naujienos:</h4>
        <ul>
            <li>Delfi: ...</li>
            <li>Blog: ...</li>
        </ul>

        <h4 class="alert alert-heading">TV laidos:</h4>
        <ul>
            <li>Upcomming @21:15</li>
            <li>Yesterday on Youtube</li>
        </ul>

        <h4 class="alert alert-muted alert-heading">Valdžios veiksmai:</h4>
        <style type="text/css"> #results-table { font-size: 13px; } </style>
        <iframe src="http://kaveikiavaldzia.lt/docs/search/?format=embedded-mini&q=&quot;fizinių+asmenų+bankroto&quot;" width="100%" height="300" style="border: 0; font-size: 15px;"></iframe>
    </div>
</div>
{% endblock %}
