{% extends "sboard/base.html" %}
{% load i18n %}
{% load sboard %}

{% block title %}
  {% if node %}
    {% if not node.title and node.has_parent %}
      <a href="{{ node.get_parent.permalink }}">
        {{ node.get_parent.title }}
      </a>
    {% else %}
      {{ node.title }}
    {% endif %}
  {% else %}
    {% trans "All nodes" %}
  {% endif %}
{% endblock %}


{% block content %}
  <div class="test-header">
    <button class="btn btn-success btn-large">Rodyti rezultatus</button>
    <h2>Atsakyk į tau rūpimus klausimus ir atrask panašiai dirbančius
      seimo narius</h2>
  </div>



  {% if children %}
  <div class="test-questions">
    {% for q in children %}
    <div class="test-question">
      <a href="#" class="btn btn-mini btn-success dropdown-toggle pull-right">mano nuomonė <span class="caret"></span></a>
      <h3><a href="{{ q.permalink }}">{{ q.title }}</a></h3>
      <p>{{ q.get_body }}</p>
    </div>
    <hr />
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}


{% block inlinejs %}
<script type="text/javascript">
function submitQuestion(n, node_slug, last, vote) {
    var url = "/" + node_slug + "/quick-results/?vote=" + vote;

    jQuery.getJSON(url, function(data) {
        if (last) {
            window.location.href = "{% nodeurl node 'results' %}";
        }
        else {
            updateSideResult(data);
        }
    });

    if (!last) {
        updateTabs(n);
    }
};

function updateTabs(n) {
      n++;
      $(".tab-pane").removeClass("active");
      $(".qpill").removeClass("active");
      $("#q" + n).addClass("active");
      $("#qpill" + n).addClass("active");
}

function updateSideResult(data) {
    var div = document.getElementById("side-result");
    var html = [];

    html.push('<table class="table table-condensed"><tbody>');
    data.mps.map(function(mp) {
        html.push('<tr>');
        html.push('<td><img src="', mp.url, '" title="', mp.name, '" style="height: 56px;"></td>');
        html.push('<td><b>', mp.name, '</b><br>');
        html.push('<div class="progress progress-success"><div class="bar" style="width: ', mp.score, '%;"> ', mp.score, '%</div></div></td>');
        html.push('</tr>');
    });
    html.push('</tbody></table>');

    jQuery(div).html(html.join(""));
};


</script>
{% endblock %}
