{% extends "sboard/base.html" %}
{% load i18n %}
{% load sboard %}

{% block title %}
  {% if node %}
    {% if not node.title and node.has_parent %}
      <a href="{{ node.get_parent.permalink }}">
        {{ node.get_parent.title }}
      </a>
    {% else %}
      {{ node.title }}
    {% endif %}
  {% else %}
    {% trans "All nodes" %}
  {% endif %}
{% endblock %}


{% block content %}
  <div class="test-header">
    <a href="{% nodeurl node 'rezultatai' %}" class="btn btn-success btn-large">
      {% trans "Rodyti rezultatus" %}
    </a>
    <h2>Atsakyk į tau rūpimus klausimus ir atrask panašiai dirbančius
      seimo narius</h2>
  </div>



  {% if children %}
  <div id="test-questions" class="test-questions">
    {% for q, position in children %}
    <div class="accordion-group test-question">
      <a href="#{{ q.key }}"
         data-toggle="collapse" data-parent="#test-questions"
         class="btn btn-mini btn-success pull-right">
        mano nuomonė <span class="caret"></span></a>
      <h3><a href="{{ q.permalink }}">{{ q.title }}</a></h3>
      <div id="{{ q.key }}-summary">
        <p>{{ q.get_body }}</p>
      </div>
      <div id="{{ q.key }}" class="collapse solution-details">

        <table class="solution-issues">
          <tbody>
            <tr class="solution-issue-title">
              <td>
                <div class="item-box">
                  <img src="{{ STATIC_URL }}img/smile-happy.png" />
                </div>
                <div class="item-content">
                  <h2 class="solves">{% trans "Sprendžia problemas" %}</h2>
                </div>
              </td>
              <td>
                <div class="item-box">
                  <img src="{{ STATIC_URL }}img/smile-sad.png" />
                </div>
                <div class="item-content">
                  <h2 class="raises">{% trans "Sukelia problemas" %}</h2>
                </div>
              </td>
            </tr>
            {% for issue in q.issues %}
            <tr>
              {% for solissue in issue %}
              <td>
                {% if solissue %}
                <div class="item-box">{{ solissue.likes }}</div>
                <div class="item-content">
                  <h2><a href="{{ solissue.permalink }}">{{ solissue.issue.ref.title }}</a></h2>
                  <p>{{ solissue.summary }}</p>
                </div>
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
            <tr class="actions">
              <td colspan="2">
                <div class="btn-group position-buttons" data-toggle="buttons-radio">
                  {% for value, label in buttons %}
                  <button class="btn btn-success{% if value == position %} active{% endif %}"
                          data-value="{{ value }}">
                    
                    {{ label }}
                  </button>
                  {% endfor %}
                </div>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
    <hr />
    {% endfor %}
  </div>
  {% else %}
  <p>{% trans "Šiai kategorijai nepriskirtas nei vienas sprendimas." %}</p>
  {% endif %}

{% endblock %}


{% block inlinejs %}
<script type="text/javascript">
function submitPosition(node_id, position) {
    var url = "{% nodeurl node 'submit-position' %}",
        post = {
            node: "+" + node_id,
            position: position
        };
    $.post(url, post, function(data) {
        console.log(data);
        $("#" + node_id + "-summary").html(data);
    }, 'html');
};

$(function() {
    $(".position-buttons > button").click(function() {
        var btn = $(this);
        var node = btn.parentsUntil('.solution-details').parent().attr('id'),
            position = btn.attr('data-value');
        submitPosition(node, position);
    });
});

</script>
{% endblock %}
