{% extends "sboard/node_details.html" %}
{% load i18n %}

{% block inlinejs %}
<script type="text/javascript">
$(function () {
    $.plot($("#voting-chart"),
        [
            {data: {{ node.vote_aye }}, color: "green"},
            {data: {{ node.vote_no }}, color: "red"},
            {data: {{ node.vote_abstain }}, color: "gray"},
            {data: {{ node.did_not_vote }}, color: "white"}
        ],
        {series: {pie: {show: true}}}
    );
});
</script>
{% endblock %}

{% block node_body %}
<h1>{% trans "Voting" %} {{ node.title }}</h1>

<table style="margin: 24px">
  <tbody>
  <tr>
    <td><div id="voting-chart" style="width:200px;height:200px;"></div></td>
    <td style="vertical-align:top;">
      <table>
        <tbody>
        <tr>
          <td style="padding-right:4px;text-align:right;font-weight:bold;">{{ node.vote_aye }}</td>
          <td style="width:40px;background:green;border: 1px solid black;"></td>
          <td style="padding-left:4px;">{% trans "aye" %}</td>
        </tr>
        <tr>
          <td style="padding-right:4px;text-align:right;font-weight:bold;">{{ node.vote_no }}</td>
          <td style="width:40px;background:red;border: 1px solid black;"></td>
          <td style="padding-left:4px;">{% trans "no" %}</td>
        </tr>
        <tr>
          <td style="padding-right:4px;text-align:right;font-weight:bold;">{{ node.vote_abstain }}</td>
          <td style="width:40px;background:gray;border: 1px solid black;"></td>
          <td style="padding-left:4px;">{% trans "abstain" %}</td>
        </tr>
        <tr>
          <td style="padding-right:4px;text-align:right;font-weight:bold;">{{ node.did_not_vote }}</td>
          <td style="width:40px;background:white;border: 1px solid black;"></td>
          <td style="padding-left:4px;">{% trans "registered but did not vote" %}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

<h3>{% trans "Source of information" %}</h3>
<ul><li><a href="{{ node.source.voting.url }}">{{ node.source.voting.url }}</a></li></ul>

{% if related_legal_acts %}
<h3>{% trans "Related legal acts" %}</h3>
<ul>
    {% for legal_act in related_legal_acts %}
    <li><a href="{% url node_details legal_act.get_id %}">{{ legal_act.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if solutions %}
<h3>{% trans "Related solutions" %}</h3>
<ul>
    {% for solution in solutions %}
    <li><a href="{% url node_details solution.get_id %}">{{ solution.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}


{% block node_actions %}
<h2>{% trans "Link to solution" %}</h2>

<form action="{% url node_action node.get_id 'link-policy-issue' %}" method="post">
  {% csrf_token %}
  {{ link_issue_form.non_field_errors }}
  {{ link_issue_form.as_p }}
  <p><button type="submit" class="btn btn-primary">{% trans "Save" %}</button></p>
</form>
{% endblock %}
