{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}

{% block inlinejs %}
<script src="//www.google.com/jsapi"></script>
<script type="text/javascript">
$(function () {
    $.plot($("#voting-chart"),
        [
            {data: {{ node.vote_aye }}, color: "green"},
            {data: {{ node.vote_no }}, color: "red"},
            {data: {{ node.vote_abstain }}, color: "gray"},
            {data: {{ node.did_not_vote }}, color: "white"}
        ],
        {series: {pie: {show: true}}}
    );
});

google.load('feeds', '1');
google.setOnLoadCallback(function () {
    var title = "{{ node.title|escapejs }}";
    var read_more_title;
    var terms = title.match(/XIIP-\d+/);
    if (terms) {
        read_more_title = "Find More "+terms+" News...";
    } else {
        terms = title;
        read_more_title = "Find More News...";
    }
    var feed = new google.feeds.Feed("http://news.google.com/?q="+encodeURIComponent(terms)+"&output=rss");
    feed.setNumEntries(4);
    feed.includeHistoricalEntries(); 
    feed.load(function(result) {
        if (result.error) {
            alert("ERR:"+result.error);
        }
        if (result.feed.entries.length < 1) {
            return;
        }

        function fmt_date (d) {
            return ('0' + d.getDate()).slice(-2) + '/'
                 + ('0' + (d.getMonth()+1)).slice(-2) + '/'
                 + d.getFullYear();
        }

        var content = "<ul>";
        for (var i = 0; i < result.feed.entries.length; i++) {
            var entry = result.feed.entries[i];
            var d = new Date(entry.publishedDate);
            $("#google_news_results").append("<li><a target='_new' href='"+entry.link+"'>"+entry.title+"</a>  <i>["+fmt_date(new Date(entry.publishedDate))+"]</i></li>");
        }
        content += "</ul>";
        $("#google_news_results").append(content);
        
        $("#google_news").append("<p><a target='_new' href='http://news.google.com/?q="+encodeURIComponent(terms)+"'>"+read_more_title+" </a></p>");
        $("#google_news").show();
    });
});
</script>
{% endblock %}

{% block node_body %}
<table style="margin: 24px">
  <tbody>
  <tr>
    <td><div id="voting-chart" style="width:200px;height:200px;"></div></td>
    <td style="vertical-align:top;">
      <table>
        <tbody>
        <tr>
          <td style="padding-right:4px;text-align:right;font-weight:bold;">{{ node.vote_aye }}</td>
          <td style="width:40px;background:green;border: 1px solid black;"></td>
          <td style="padding-left:4px;">{% trans "Už" %}</td>
        </tr>
        <tr>
          <td style="padding-right:4px;text-align:right;font-weight:bold;">{{ node.vote_no }}</td>
          <td style="width:40px;background:red;border: 1px solid black;"></td>
          <td style="padding-left:4px;">{% trans "Prieš" %}</td>
        </tr>
        <tr>
          <td style="padding-right:4px;text-align:right;font-weight:bold;">{{ node.vote_abstain }}</td>
          <td style="width:40px;background:gray;border: 1px solid black;"></td>
          <td style="padding-left:4px;">{% trans "Susilaikė" %}</td>
        </tr>
        <tr>
          <td style="padding-right:4px;text-align:right;font-weight:bold;">{{ node.did_not_vote }}</td>
          <td style="width:40px;background:white;border: 1px solid black;"></td>
          <td style="padding-left:4px;">{% trans "Užsiregistravo, bet nebalsavo" %}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

<h3>{% trans "Šaltinis" %}</h3>
<ul><li><a href="{{ node.source.voting.url }}">{{ node.source.voting.url }}</a></li></ul>

{% if related_legal_acts %}
<h3>{% trans "Susiję teisiniai aktai" %}</h3>
<ul>
    {% for legal_act in related_legal_acts %}
    <li><a href="{{ legal_act.permalink }}">{{ legal_act.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if solutions %}
<h3>{% trans "Susijusios temos" %}</h3>
<ul>
    {% for solution in solutions %}
    <li><a href="{{ solution.permalink }}">{{ solution.title }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<div id='google_news' style='display:none'>
<h3>Susijusios Naujienos (Google)</h3>
<div id='google_news_results'></div>
</div>

{% endblock %}


{% block node_actions %}
{% nodepermission node 'update' as can_update %}
{% if can_update %}
    <h2>{% trans "Susieti su tema" %}</h2>

    <form action="{% nodeurl node 'link-solution' %}" method="post">
      {% csrf_token %}
      {{ link_solution_form.non_field_errors }}
      {{ link_solution_form.as_p }}
      <p><button type="submit" class="btn btn-primary">{% trans "Save" %}</button></p>
    </form>
{% endif %}
{% endblock %}
