{% extends "mps_v2/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load manoseimas %}
{% load sboard %}

{% block content %}
<h1>Seimo narys</h1>
<div class="profile-box">
  <div>
    <h1>{% block title %}{{ profile.full_name }}{% endblock %}</h1>

    {% if profile.fraction %}
    <p> {{ profile.fraction }}</p>
    {% endif %}
  </div>
</div>

{% if positions %}
<hr style="clear: both">
{% include "mps/help_partial.html" %}
<h2 class="hr">Politiniai sprendimai</h2>

<ul class="positions">
  {% for position in positions %}
  <li>
    Balsavo <strong class="very" title="{{ position.percent }}">{{ position.position|lower }}</strong>
    <a class="profile-solution-title arrow-before" href="{% nodeurl position.solution.ref %}">{{ position.solution.ref.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
