{% load i18n %}

<div class="well">
  <ul class="nav nav-list">
    {% block law_menu_item %}
    <li><a href="{{ node.permalink }}">{% trans "Law" %}</a></li>
    {% endblock %}
    {% block projects_menu_item %}
    <li><a href="{% url node node.get_slug 'projects' %}">{% trans "Projects" %}</a></li>
    {% endblock %}
    {% block changes_menu_item %}
    <li><a href="{% url node node.get_slug 'changes' %}">{% trans "Changes" %}</a></li>
    {% endblock %}
    {% block votings_menu_item %}
    <li><a href="{% url node node.get_slug 'votings' %}">{% trans "Votings" %}</a></li>
    {% endblock %}
  </ul>
</div>
