

.discussion
  .topic {{ topic.title}}
  .date {{ topic.timestamp }}

  .statements
    for statement in statements
      .statement
        if statement.speaker
          .speaker
            a(href="{% url 'mp_profile' statement.speaker.slug %}") {{ statement.get_speaker_name }}
        else
          .speaker {{ statement.get_speaker_name }}
        .text {{ statement.text }}
