- extends "new_base.jade"
- load lt_pluralize
- load static from staticfiles

- block title
  | Frakcijos

- block middle
  .photo-box.single-title
    .transparent-bg: .title: h1 Frakcijos

  .ui.center.aligned.zero.margin.page.grid
    .switcher
      a.item.active Frakcijos
      a(href="{% url 'mp_list_all' %}").item Parlamentarai

  .ui.zero.margin.page.grid
    for fraction in fractions
      .fraction.box
        if fraction.logo
          img(src="{{ fraction.logo.url }}")
        else
          img(src="{% static 'img/fractions/fraction-default.png' %}")
        .info
          h2: a(href="{% url 'mp_fraction' fraction.slug %}") {{fraction.name}}
          p {{fraction.active_member_count}} {% lt_pluralize fraction.active_member_count 'narys' 'nariai' 'narių' %}
