- extends "new_base.jade"
- load static from staticfiles

- block title
  | Parlamentarai

- block middle
  .photo-box.single-title
      .transparent-bg: .title: h1 Seimo nariai

  .ui.center.aligned.zero.margin.page.grid
    .switcher
      a(href="{% url 'mp_fraction_list' %}").item Frakcijos
      a.item.active Parlamentarai

  .ui.zero.margin.page.stackable.grid
    .fourteen.wide.column
      .parliamentarians
        for mp in mps
          .parliamentarian.box
            img(src="{{ mp.photo_url }}")
            .info
              h2: a(href="{% url 'mp_profile' mp.slug %}") {{mp.full_name}}
              if mp.fraction
                a(href="{% url 'mp_fraction' mp.fraction.slug %}").fraction-name {{mp.fraction.name}}

    .zero.paddings.two.wide.column
      .ui.sticky
        .sidebar
          a(href="{% url 'mp_list_all' %}" class=all_klass).item: h4 Visi parlamentarai
          for fraction in fractions
            a(href="{% url 'mp_list_fraction' fraction.slug %}" class=fraction._klass).item
              img(src="{% static 'img/fractions/lsdp.png' %}").logo
              .title: h4 {{fraction.name}}
