- extends "new_base.jade"
- load static from staticfiles

- block title
  | Parlamentarai

- block middle
  .photo-box.single-title
      .transparent-bg: .title: h1 Seimo nariai

  .ui.center.aligned.zero.margin.page.grid
    .switcher
      a(href="{% url 'mp_fraction_list' %}").item Frakcijos
      a.item.active Parlamentarai

  .ui.zero.margin.page.stackable.grid
    .fourteen.wide.column
      .parliamentarians
        for mp in mps
          .parliamentarian.box
            img(src="{{ mp.photo_url }}")
            .info
              h2: a(href="{% url 'mp_profile' mp.slug %}") {{mp.full_name}}
              if mp.fraction
                a(href="{% url 'mp_fraction' mp.fraction.slug %}").fraction-name {{mp.fraction.name}}

        if mp_page.paginator.num_pages > 1
          .ui.zero.margin.center.aligned.grid: .ui.pagination.menu
            if mp_page.has_previous
              a.item(href="?page={{ mp_page.previous_page_number }}")
                i.left.arrow.icon
                | Atgal

            for page_num in mp_page.paginator.page_range
              if page_num = mp_page.number
                a.item.active(href="?page={{ page_num }}") {{ page_num }}
              else
                a.item(href="?page={{ page_num }}") {{ page_num }}

            if mp_page.has_next
              a.item(href="?page={{ mp_page.next_page_number }}")
                | Pirmyn
                i.icon.right.arrow


    .zero.paddings.two.wide.column
      .ui.sticky
        .sidebar
          a(href="{% url 'mp_list_all' %}" class=all_klass).item: h4 Visi parlamentarai
          for fraction in fractions
            if fraction.active_members.count > 0
              a(href="{% url 'mp_list_fraction' fraction.slug %}" class=fraction._klass).item
                if fraction.logo
                  img(src="{{ fraction.logo.url }}")
                else
                  img(src="{% static 'img/fractions/fraction-default.png' %}")
                .title: h4 {{fraction.name}}

  script(type='text/javascript')
    $(document).ready(function() {
      $('.ui.sticky').sticky({context: '.parliamentarians', offset: 50});
    });
