- extends "new_base.jade"
- load lt_pluralize
- load static from staticfiles
- load compress from compress

- block title
  | LR Parlamentarai - statistika - manoSeimas.lt

-block inlinejs
  script(src="https://npmcdn.com/react@15.3.0/dist/react.js", type="text/javascript")
  script(src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js", type="text/javascript")
  script(src="{% static 'js/jquery.scrollTo-1.4.3.1-min.js' %}")

  - compress js
    script(src="{% static 'components/react_loader.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/row_components.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/filter_component.jsx' %}", type="text/jsx", charset="utf-8")
    script(src="{% static 'components/mps_list.jsx' %}", type="text/jsx", charset="utf-8")

- block middle
  .photo-box.single-title
    .transparent-bg: .title: h1 Seimo nariai

  .colored-bg.index-stats
    .ui.zero.margin.center.aligned.page.grid
      .stats-description Vidutiniškai šios kadencijos Seimo narys:

      .stats-box.slim.popup(data-content="{{explanations.votings}}")
        .block: .explanation dalyvavo
        .block: h4.number {{parliament.avg_vote_percentage|floatformat:0}}%
        .block: .explanation balsavimų

      .stats-box.slim.popup(data-content="{{explanations.statements}}")
        .block: .explanation pasisakė
        .block: h4.number {{parliament.avg_statement_count|floatformat:0}}
        .block: .explanation {% lt_pluralize parliament.avg_statement_count|floatformat:0 'kartą' 'kartus' 'kartų' %}

      .stats-box.slim.popup(data-content="{{explanations.projects}}")
        .block: .explanation pateikė
        .block: h4.number {{parliament.avg_law_project_count|floatformat:0}}
        .block: .explanation įstatymo {% lt_pluralize parliament.avg_law_project_count|floatformat:0 'projektą' 'projektus' 'projektų' %}

  #mps-list-component