- extends "base.html"
- load i18n
- load thumbnail
- load manoseimas
- load sboard

- block content
  a(href="{% url 'mp_list' %}") Atgal į sąrašą

  .profile-box
    div
      img(src="/static/img/photo-default.png" title="{{profile.full_name}}").photo.pull-left
      h1
        - block title
          {{ profile.full_name }}

      if profile.fraction_name
        p {{ profile.fraction_name }}

  if positions
    hr(style="clear: both")
    {% include "mps/help_partial.html" %}
    h2.hr Politiniai sprendimai

    ul.positions
      for position in positions
        li Balsavo
          strong.very(title=position.percent) {{ position.position|lower }}
          a(href="{% nodeurl position.solution.ref %}").profile-solution-title.arrow-before {{ position.solution.ref.title }}

