.ui.stackable.page.grid
  .twelve.wide.column: .transcriptions
    if statements.paginator.num_pages > 1
      .center.aligned.grid: .ui.pagination.menu
        if statements.has_previous
          a.item.prev(data-prev-page="{{ statements.previous_page_number }}")
            i.left.arrow.icon
            | Atgal

        .item {{ statements.number }} iš {{ statements.paginator.num_pages }}

        if statements.has_next
          a.item.next(data-next-page="{{ statements.next_page_number }}")
            | Pirmyn
            i.icon.right.arrow

    for statement in statements.object_list
      .transcription
        .text {{statement.text}}
        .meta
          a.show-all(data-id=statement.id) Rodyti visą diskusiją
          .document-title {{statement.topic}}
          .date {{statement.topic.timestamp}}

    .ui.zero.margin.center.aligned.grid: .ui.pagination.menu
      if statements.has_previous
        a.item.prev(data-prev-page="{{ statements.previous_page_number }}")
          i.left.arrow.icon
          | Atgal

      .item {{ statements.number }} iš {{ statements.paginator.num_pages }}

      if statements.has_next
        a.item.next(data-next-page="{{ statements.next_page_number }}")
          | Pirmyn
          i.icon.right.arrow

  .four.wide.column
    .ui.sticky: .sidebar(data-selected-session="{{ selected_session }}")
      a(data-session="None").item: h4 Visos sesijos
      for session in sessions
        if session
          a(data-session="{{ session }}").item: h4 {{session}}


.ui.modal
  .header Header Is here
  .content
    .description Hello
  .actions
    .ui.black.button
      | Close
