@import "../base";

.text {
  compose: text from '../base.css';
  width: calc(100% - 40px);
  margin-left: 0;

  @media(max-width: 768px) {
    width: 100%;
  }
}

.topic {
  min-height: 230px;

  @media(max-width: 768px) {
    min-height: initial;
  }
}

.actions {
  margin-top: 20px;
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
}

.relative {
  position: relative;
  top: 0;
}

.content {
  margin-bottom: 50px;
  min-height: calc(100vh - 550px);

  @media(max-width: 768px) {
    lost-column: 1/1 0;
  }
}

.topic-image {
  composes: context;
  border: 2px dashed $grey;
  margin-top: 0;

  @media(max-width: 768px) {
    display: none;
  }
}

.context-img {
  width: 100%;
}
