@import "../_variables";

@define-mixin button {
  background-color: #fff;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  display: inline-block;
  padding: 15px 0;
  margin-left: 15px;
  font-size: $normal;
  font-weight: bold;
  text-transform: uppercase;
  width: 30%;
  text-align: center;

  &:hover {
    background-color: color(#fff blackness(3%));
    cursor: pointer;
  }
}
.button { @mixin button }

.button_yes {
  @mixin button;
  border-bottom-color: $green;
  color: $green;
}

.button_no {
  @mixin button;
  border-bottom-color: $red;
  color: $red;
}

.button_skip {
  @mixin button;
  border-bottom-color: $black;
  color: $black;
}

.button_block {
  margin-top: 20px;
}