@import "../_variables";

.question-steps {
  display: block;
  lost-column: 3/4 0;
  float: inherit !important;
}

.step {
  background-color: $grey;
  height: 3px;
  width: calc(8.33% - 3px);
  display: inline-block;
  margin-right: 3px;
}

.active-step {
  composes: step;
  background-color: $black;
}
