@import "../_variables";

.sticky-header {
  position: fixed;
  z-index: 101;
  top: 0;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 1px 3px $grey;
  width: $container-width;
  padding: 15px;

  @media(max-width: 768px) {
    display: none;
  }
}