{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}

{% block node_title %}
{% endblock %}

{% block node_body %}
  <h3>{% trans "Problema" %}</h3>
  <h2>{{ node.title }}</h2>
  <p>{{ node.summary }}</p>
  <p><a href="{% nodeurl node 'details' %}"></a></p>

  <h2>{% trans "Galimi sprendimai" %}</h2>
  <table class="positive-negative">
    <tbody>
      <tr>
        <td class="positive-header">
          <h2>{% trans "Sprendžiantys problemą" %}</h2>
        </td>
        <td class="negative-header">
          <h2>{% trans "Sukeliantys problemą" %}</h2>
        </td>
      </tr>
      {% for issue in solutions %}
      <tr>
        {% for solissue in issue %}
        <td>
          {% if solissue %}
          <h2><a href="{{ solissue.solution.ref.permalink }}">{{ solissue.solution.ref.title }}</a></h2>
          <p>{{ solissue.summary }}</p>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>{% trans "Išsamus problemos aprašymas" %}</h2>
  {{ node.render_body }}
{% endblock %}
