{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}

{% block node_body %}
  <ul class="nav nav-tabs" id="result-tabs">
    {% for group in groups %}
    <li {% if forloop.first %}class="active"{% endif %}><a href="#{{ group.slug }}" data-toggle="tab">{{ group.title }}</a></li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for group in groups %}
    <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ group.slug }}">
      {% if group.fraction_list %}
      <select id="filter-fraction">
        <option value="" selected>{% trans "Visos frakcijos" %}
        {% for fraction in group.fraction_list %}
        <option value="{{ fraction.slug }}">{{ fraction.title }}</option>
        {% endfor %}
      </select>
      {% endif %}
      <a class="help" href="#position-help" data-toggle="modal"></a>
      <table class="positive-negative">
        <tbody>
          <tr>
            <td class="positive-header" style="width: 50%">{% trans "PALAIKO" %}</th>
            <td class="negative-header">{% trans "NEPALAIKO" %}</th>
          </tr>
          <tr>
            {% for position_list in group.positions %}
            <td class="result-container">
              {% for position in position_list %}
              {% with position.profile.ref.doc_type as doc_type %}
              <div class="result {% if not position.active %}inactive{% endif %}
                          {{ doc_type|slugify }}
                          {% if doc_type == "MPProfile" %}fraction-{{ position.profile.ref.fraction.ref.slug }}{% endif %}"
                   title="Dalyvavimas: {{ position.participation_percent }}%">
                <a href="{% nodeurl position.profile.ref %}">
                  {% nodeimage position.profile.ref 80 %}
                </a>
                <div class="result-description">
                  <p>
                    <span {% if doc_type == "Fraction" %}data-slug="{{ position.profile.ref.slug }}"{% endif %}
                          class="{% if position.positive %}positive{% else %}negative{% endif %} percent">{{ position.position_percent }}%</span>
                    {% if not position.active %}
                    <a class="help inline" href="#inactive-help" data-toggle="modal"></a>
                    {% endif %}
                  </p>
                  <p>
                    <a href="{% nodeurl position.profile.ref %}">
                      {{ position.profile.ref.title }}
                    </a>
                  </p>
                  <p class="sub-title">{{ position.profile.ref.fraction_abbreviation|default:'' }}</p>
                </div>
              </div>
              {% endwith %}
              {% endfor %}
            </td>
            {% endfor %}
          </tr>
        <tbody>
      </table>
    </div>
    {% endfor %}
  </div>

  <div class="modal hide fade" id="position-help">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Pagalba</h3>
    </div>
    <div class="modal-body">
      <p>"Seimo pozicija" nurodo, kokios pozicijos temos atžvilgiu laikosi
      kiekviena frakcija ir Seimo narys.</p>

      <p><strong>Seimo narys</strong>. Kiekvieno temos balsavimo (žr. skiltį
      "Balsavimai") rezultatai yra įvertinami (<strong>už</strong> = 2,
      <strong>prieš</strong> = -2, <strong>susilaikė/nebalsavo</strong> = -1)
      ir susumuojami, o tada padalinami iš maksimalaus įmanomo taškų skaičiaus
      (t.y. jei visi balsavimai būtų "už"). Taip gaunama Seimo nario pozicija
      temos atžvilgiu tarp 100% ir -100%.</p>

      <p><strong>Frakcija</strong>. Gautos Seimo narių pozicijos yra sudedamos
      pagal frakcijų priklausomybę. T.y., kiekvieno frakcijos nario pozicija
      yra sudedama su kitų narių pozicijomis, ir visa tai suvidurkinama.
      Išsamią metodiką galite pažiūrėti "Kaip tai veikia" puslapyje.</p>
    </div>
  </div>

  <div class="modal hide fade" id="inactive-help">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Pagalba</h3>
    </div>
    <div class="modal-body">
      <p>Frakcijos ir Seimo nariai, dalyvavę mažiau nei 25% temos balsavimų, yra
      rodomi rezultatų apačioje, o dalyvavę mažiau nei 10% temos balsavimų,
      nėra rodomi rezultatuose. Taip padaryta dėl to, kad jų rezultatai gali
      neatspindėti jų tikrosios pozicijos.</p>

      <p>Balsavimuose būna didelių variacijų, todėl esant nedideliam balsavimų
      skaičiui, kyla rizika, kad atsitiktinis balsavimas iškreips rezultatus ir
      Seimo narį / frakciją nepelnytai "iškels" į rezultatų viršų. Tuo tarpu
      sudalyvavus daugiau balsavimų, išryškėja ilgalaikės, tvarios,
      patikimesnės tendencijos, tiksliau atspindinčios tikrąją jų poziciją
      temos atžvilgiu.</p>
    </div>
  </div>

{% endblock %}

{% block inlinejs %}
<script src="{{ STATIC_URL }}js/bootstrap-tab-history.js"></script>

<script type="text/javascript">
$(manoSeimas.activateFractionFilter);
</script>
{% endblock %}
