{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}
{% load cache %}

{% block node_body %}
  {% cache 3600 mps_position node.key %}
  <ul class="nav nav-tabs" id="result-tabs">
    {% for group in groups %}
    <li {% if forloop.first %}class="active"{% endif %}><a href="#{{ group.slug }}" data-toggle="tab">{{ group.title }}</a></li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for group in groups %}
    <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ group.slug }}">
      <a class="help" href="#position-help" data-toggle="modal"></a>
      {% if group.fraction_list %}
      <select id="filter-fraction">
        <option value="" selected>{% trans "Visos frakcijos" %}
        {% for fraction in group.fraction_list %}
        <option value="{{ fraction.slug }}">{{ fraction.title }}</option>
        {% endfor %}
      </select>
      {% endif %}
      <table class="positive-negative">
        <tbody>
          <tr>
            <td class="positive-header" style="width: 50%">{% trans "PALAIKO" %}</th>
            <td class="negative-header">{% trans "NEPALAIKO" %}</th>
          </tr>
          <tr>
            {% for position_list in group.positions %}
            <td class="result-container">
              {% for position in position_list %}
              {% with position.profile.ref.doc_type as doc_type %}
              <div class="result {% if not position.active %}inactive{% endif %}
                          {{ doc_type|slugify }}
                          {% if doc_type == "MPProfile" %}fraction-{{ position.profile.ref.fraction.ref.slug }}{% endif %}">
                <a href="{% nodeurl position.profile.ref %}" title="Dalyvavimas: {{ position.participation_percent }}%">
                  {% nodeimage position.profile.ref 80 %}
                </a>
                <span class="result-description" title="Dalyvavimas: {{ position.participation_percent }}%">
                  <p>
                    <span {% if doc_type == "Fraction" %}data-slug="{{ position.profile.ref.slug }}"{% endif %}
                          class="{% if position.positive %}positive{% else %}negative{% endif %} percent">{{ position.position_percent }}%</span>
                    {% if not position.active %}
                    <a class="help inline" href="#inactive-help" data-toggle="modal"></a>
                    {% endif %}
                  </p>
                  <p>
                    <a href="{% nodeurl position.profile.ref %}">
                      {{ position.profile.ref.title }}
                    </a>
                  </p>
                  <p class="sub-title">{{ position.profile.ref.fraction_abbreviation|default:'' }}</p>
                </span>
              </div>
              {% endwith %}
              {% endfor %}
            </td>
            {% endfor %}
          </tr>
        <tbody>
      </table>
    </div>
    {% endfor %}
  </div>
  {% endcache %}

  <div class="modal hide fade" id="position-help">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Pagalba</h3>
    </div>
    <div class="modal-body">
      <p>Procentai parodo, kiek frakcijos ir Seimo nariai palaiko pasirinktą
      temą. Skaičiuojant šiuos procentus, atsižvelgiama į balsavimų kiekį, šių
      balsavimų svarbą ir balsavusių Seimo narių skaičių.</p>

      <p><strong>Frakcijos</strong> pozicija gaunama apskaičiavus visų šiai
      frakcijai priklausančių Seimo narių balsavimus ir išvedus jų vidurkį.
      <em>Pavyzdžiui, trys frakcijos nariai (dalyvavę tiek pat balsavimų) turi
        pozicijas 30%, 67% ir -16%. Tuomet frakcijos pozicija bus lygi
        (30+67-16)/3 = 27%.</em></p>

      <p><strong>Seimo nario</strong> pozicija apskaičiuojama pagal jo
      balsavimus Seime, taip pat atsižvelgiant į tų balsavimų reikšmę temai.
      <em>Pavyzdžiui, temai "Lietuva" yra priskirti trys (vienodos vertės)
        balsavimai, kuriuose Seimo narys balsavo "už", "prieš" ir "susilaikė".
        Tada šio Seimo nario pozicija bus lygi (2-2-1)/(2+2+2) = (-1)/6 =
        -17%.</em></p>

      <p><a href="/kaip-tai-veikia/">Išsamiau &ndash; čia</a>.</p>
    </div>
  </div>

  {% include "partials/inactive_help.html" %}
{% endblock %}

{% block inlinejs %}
<script src="{{ STATIC_URL }}js/bootstrap-tab-history.js"></script>

<script type="text/javascript">
$(manoSeimas.activateFractionFilter);
</script>
{% endblock %}

{% block additional_sidebar %}
{% include "partials/return_to_test.html" %}
{% endblock %}
