{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}

{% block node_body %}
  {{ block.super }}
  
  <h2 class="arguments-header">{% trans "Argumentai" %}</h2>

  <table class="solution-issues">
    <tbody>
      <tr class="solution-issue-title">
        <td>
          <div class="item-content">
            <h2 class="solves">{% trans "UŽ" %}</h2>
          </div>
        </td>
        <td>
          <div class="item-content">
            <h2 class="raises">{% trans "PRIEŠ" %}</h2>
          </div>
        </td>
      </tr>
      {% for issue in issues %}
      <tr>
        {% for solissue in issue %}
        <td>
          {% if solissue %}
          <div class="item-box">{{ solissue.likes }}</div>
          <div class="item-content">
            <h2><a href="{{ solissue.permalink }}">{{ solissue.issue.ref.title }}</a></h2>
            <p>{{ solissue.summary }}</p>
          </div>
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      <tr class="actions">
        <td><a href="{% nodeurl node 'sprendzia' %}">{% trans "Pasiūlyk savo" %}</a></td>
        <td><a href="{% nodeurl node 'sukelia' %}">{% trans "Pasiūlyk savo" %}</a></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
