{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}

{% block node_body %}
  {{ block.super }}

  <h2 id="argumentai">{% trans "Argumentai" %}</h2>

  <table class="positive-negative">
    <tbody>
      <tr>
        <td class="positive-header">
          <div class="item-content">
            <h2>{% trans "UŽ" %}</h2>
          </div>
        </td>
        <td class="negative-header">
          <div class="item-content">
            <h2>{% trans "PRIEŠ" %}</h2>
          </div>
        </td>
      </tr>
      {% for aye_against in arguments %}
      <tr>
        {% for argument in aye_against %}
        <td>
          {% if argument %}
          <div class="item-box">{{ argument.likes }}</div>
          <div class="item-content">
            <h2><a href="{{ argument.permalink }}">{{ argument.issue.ref.title }}</a></h2>
            <p>{{ argument.summary }}</p>
          </div>
          {% if argument.counter_arguments %}
          <button class="btn" data-toggle="collapse" data-target="#{{ argument.slug }}">kontrargumentai</button>
          <ul id="{{ argument.slug }}" class="collapse">
            {% for counter_argument in argument.counter_arguments %}
            <li>{{ counter_argument.summary }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
      <tr class="actions">
        <td><a href="{% nodeurl node 'sprendzia' %}">{% trans "Pasiūlyk savo" %}</a></td>
        <td><a href="{% nodeurl node 'sukelia' %}">{% trans "Pasiūlyk savo" %}</a></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
