{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}

{% block node_title %}
{% endblock %}

{% block node_body %}
  <h1 style="text-transform: none; font-weight: 700; margin-bottom: 10px">
    {% if node.solves %}
    <span class="positive">Už</span>
    {% else %}
    <span class="negative">Prieš</span>
    {% endif %}
    - <a href="{{ node.solution.ref.permalink }}">{{ node.solution.ref.title }}</a>
  </h1>
  <h2 class="argument"><a class="stealth" href="{{ node.issue.ref.permalink }}">{{ node.issue.ref.title }}</a></h2>

  <p>{{ node.summary }}</p>
  <p>{{ node.render_body }}</p>


  {% if node.counter_arguments %}
  <hr>
  <h2>Kontr-argumentai</h2>
  <ul class="counter-arguments">
    {% for counter_argument in node.counter_arguments %}
    <li>
      <p><a class="stealth" href="{{ counter_argument.permalink }}">{{ counter_argument.summary }}</a></p>
      <p>{{ counter_argument.render_body }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
