{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}

{% block node_title %}
{% endblock %}

{% block node_body %}
  <h1 style="text-transform: none; font-weight: 700; margin-bottom: 10px">
    {% if node.solves %}
    <span class="positive">Už</span>
    {% else %}
    <span class="negative">Prieš</span>
    {% endif %}
    - <a href="{{ node.solution.ref.permalink }}">{{ node.solution.ref.title }}</a>
  </h1>
  <h2 class="argument">{{ node.issue.ref.title }}</h2>

  {{ node.render_body }}

  {% if node.counter_arguments %}
  <hr>
  <h2>Kontr-argumentai</h2>
  <ul class="counter-arguments">
    {% for counter_argument in node.counter_arguments %}
    <li>
      <p>
        {{ counter_argument.summary }}
        <a class="more" data-toggle="collapse" data-target="#{{ counter_argument.key }}">Daugiau</a>
      </p>
      <div id="{{ counter_argument.key }}" class="collapse">{{ counter_argument.render_body }}</div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}

{% block additional_sidebar %}
{% include "partials/return_to_test.html" %}
{% endblock %}
