{% extends "sboard/node_details.html" %}
{% load i18n %}
{% load sboard %}

{% block node_title %}
{% endblock %}

{% block node_body %}
  {% if node.solves %}
  <h1>Argumentacija problemos sprendimui</h1>
  {% else %}
  <h1>Argumentacija problemos priežasčiai</h1>
  {% endif %}

  <p>&nbsp;</p>

  <table style="width:100%;">
    <tbody>
      <tr>
        <td>
          <strong>{% trans "Problema" %}</strong>
        </td>
        <td>
          {% if node.solves %}
          <strong>{% trans "Sprendimas" %}</strong>
          {% else %}
          <strong>{% trans "Priežastis" %}</strong>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <a href="{{ node.issue.ref.permalink }}">{{ node.issue.ref.title }}</a>
        </td>
        <td>
          <a href="{{ node.solution.ref.permalink }}">{{ node.solution.ref.title }}</a>
        </td>
      </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>

  <p>{{ node.summary }}</p>
  <p>{{ node.render_body }}</p>
{% endblock %}
