{% extends "sboard/node_list.html" %}
{% load i18n %}
{% load sboard %}


{% block content %}
  {% if node and node.title %}
    <h1>{{ node.title }}</h1>
  {% endif %}


  {% nodepermission node 'update' as can_update %}

  {% if children %}
    {% for child in children %}
    <div class="list-entry">

      <strong>{{ child.weight_plus_if_needed }}{{ child.weight }}</strong>
      <span class="multiply-sign" style="color:silver">*</span>
      <span id="voting-chart-{{ child.urlslug }}" style="width:30px;height:30px;"
      title="{{ child.weight }} * {{ child.avg_Parl_position_normalized|floatformat:2 }} = {{ child.weighted_avg_Parl_position|floatformat:2 }} "></span>

      [{{ child.created|date:"SHORT_DATE_FORMAT" }}]
      <a href="{{ child.permalink }}">{{ child.title }}</a>
      {% if can_update %}
      [<a href="{% nodeurl node child.urlslug 'delete' %}">
        {% trans "ištrinti" %}
      </a>]
      {% endif %}
      [<a href="{{ node.source.voting.url }}">lrs.lt</a>]

      <hr />
    </div>
    {% endfor %}
    <div class="list-summary">
      {% trans "Suminė parlamento pozicija" %} = <strong>{{ parl_weighted_position|floatformat:2 }}</strong>
      ({% trans "normuota pagal svorius" %} = <strong>{{ parl_normalized_position|floatformat:2 }}</strong>)
    </div>
  {% else %}
    <p>{% trans "No entries found." %}</p>
  {% endif %}


  {% if can_update %}
  <h2>{% trans "Priskirti seimo narių balsavimą" %}</h2>
  <form method="POST">
    {% csrf_token %}
    {% include "form_fields.html" %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Priskirti" %}</button>
    </div>
  </form>
  {% endif %}
{% endblock %}


{% block inlinejs %}
{# generate pie charts #}
<script type="text/javascript">
  {% if children %}
    {% for child in children %}
        $(function () {
            $.plot($("#voting-chart-{{ child.urlslug }}"),
                [
                    {data: {{ child.vote_aye }}, color: "green"},
                    {data: {{ child.vote_no }}, color: "red"},
                    {data: {{ child.vote_abstain }}, color: "gray"},
                    {data: {{ child.did_not_vote }}, color: "white"}
                ],
                {series: {pie: {show: true}}}
            );
        });
    {% endfor %}
  {% endif %}
</script>
{% endblock %}
