{% extends "sboard/node_list.html" %}
{% load i18n %}
{% load sboard %}


{% block content %}
  {% if node and node.title %}
    <h1>{{ node.title }}</h1>
  {% endif %}


  {% nodepermission node 'update' as can_update %}


  <a class="help" href="#votings-help" data-toggle="modal"></a>
  <div class="modal hide fade" id="votings-help">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Pagalba</h3>
    </div>
    <div class="modal-body">
      <p>Tai Seime įvykę balsavimai, pagal kuriuos yra skaičiuojami testo
      rezultatai ir frakcijų pozicijos. Atrinkti balsavimai yra susiję su testo
      temomis, tačiau jų svarba nevienoda. Su taisyklėmis, kaip balsavimams
      buvo skiriami taškai, galima susipažinti čia &ndash;
      <a href="/kaip-tai-veikia/">Kaip tai veikia</a> puslapyje.</p>

      <p><em>Pavyzdys. Temai priskirti du balsavimai su įvertinimais +1 ir +2.
        Seimo narys balsavo atitinkamai "už" (vertė +2) ir "prieš" (vertė -2).
        Tada Seimo nario pozicija bus (1*2+2*(-2))/(1*2+2*2) = (-2)/6 = -33%.
        Jei Seimo narys balsavo "už" ir "už", tada jo pozicija bus
        (1*2+2*2)/(1*2+2*2) = 6/6 = 100%.</em></p>
    </div>
  </div>

  {% if children %}
    {% for child in children %}
    <div class="list-entry">

      <strong>{{ child.weight_plus_if_needed }}{{ child.weight }}</strong>
      <span class="multiply-sign" style="color:silver">*</span>
      <span id="voting-chart-{{ child.urlslug }}" style="width:30px;height:30px;"
      title="{{ child.weight }} * {{ child.avg_parl_position_normalized|floatformat:2 }} = {{ child.weighted_avg_parl_position|floatformat:2 }} "></span>

      [{{ child.created|date:"SHORT_DATE_FORMAT" }}]
      <a href="{{ child.permalink }}">{{ child.title }}</a>
      {% if can_update %}
      [<a href="{% nodeurl node child.urlslug 'delete' %}">
        {% trans "ištrinti" %}
      </a>]
      {% endif %}
      [<a href="{{ child.source.voting.url }}">lrs.lt</a>]

      <hr />
    </div>
    {% endfor %}
    {% if parl_normalized_position != None %}
    <div class="list-summary">
      {% trans "Suminė parlamento pozicija" %} = <strong>{{ parl_weighted_position|floatformat:2 }}</strong>
      ({% trans "normuota pagal svorius" %} = <strong>{{ parl_normalized_position|floatformat:2 }}</strong>)
    </div>
    {% endif %}
  {% else %}
    <p>{% trans "No entries found." %}</p>
  {% endif %}


  {% if can_update %}
  <h2>{% trans "Priskirti seimo narių balsavimą" %}</h2>
  <form method="POST">
    {% csrf_token %}
    {% include "form_fields.html" %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Priskirti" %}</button>
    </div>
  </form>
  {% endif %}
{% endblock %}


{% block inlinejs %}
{# generate pie charts #}
<script type="text/javascript">
  {% if children %}
    {% for child in children %}
        $(function () {
            $.plot($("#voting-chart-{{ child.urlslug }}"),
                [
                    {data: {{ child.vote_aye }}, color: "green"},
                    {data: {{ child.vote_no }}, color: "red"},
                    {data: {{ child.vote_abstain }}, color: "gray"},
                    {data: {{ child.did_not_vote }}, color: "white"}
                ],
                {series: {pie: {show: true}}}
            );
        });
    {% endfor %}
  {% endif %}
</script>
{% endblock %}
