{% extends "sboard/node_list.html" %}
{% load i18n %}
{% load sboard %}


{% block content %}
  {% nodepermission node 'update' as can_update %}

  {% if children %}
    {% for child in children %}
    <div class="list-entry">
      [{{ child.created|date:"SHORT_DATE_FORMAT" }}]
      <a href="{{ child.permalink }}">{{ child.title }}</a>
      {% if can_update %}
      [<a href="{% nodeurl node child.urlslug 'delete' %}">
        {% trans "ištrinti" %}
      </a>]
      {% endif %}
      <hr />
    </div>
    {% endfor %}
  {% else %}
    <p>{% trans "No entries found." %}</p>
  {% endif %}


  {% if can_update %}
  <h2>{% trans "Priskirti seimo narių balsavimą" %}</h2>
  <form method="POST">
    {% csrf_token %}
    {% include "form_fields.html" %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Priskirti" %}</button>
    </div>
  </form>
  {% endif %}
{% endblock %}
