- extends "test_base.jade"
- load static from staticfiles
- load render_bundle from webpack_loader

- block title
  | Politinio suderinamumo testas - manoSeimas.lt

- block main
  #compat-app

  - render_bundle 'react'
  - render_bundle 'compat_test'
