@import 'css/variables';
@import 'css/parliamentarians';
@import 'css/parliamentarian';
@import 'css/transcripts';
@import 'css/sortable_list';
@import 'css/stats_box';

// Elements
// -----------

.box {
  margin: 10px;
  display: inline-block;
  background-color: $white;
  border: 1px dashed $grayLite;
  padding: 0.7rem 0.5rem 0.5rem 1rem !important;
  min-height: 110px;

  img { height: 80px; width: 80; margin-right: 5px; }

  .info {
    float: right;
    width: 175px;

    h2 {
      font-size: $normal;
      line-height: 1.2;
      font-weight: normal;
      margin-bottom: 0.3em;

      a { color: $textColor; }
      a:hover { color: $linkColor; text-decoration: none; }
    }
  }
}
.parliamentarian.box {
  width: 260px;
  margin: 0 7px 15px 7px;

  .info {
    width: 165px;
    a.fraction-name {
      font-size: $small;
      line-height: 1.2;
      display: block;
      color: $greenDark;
    }
    h2 { margin-bottom: 0.1em;}
    p { font-size: $small; }
  }
}
.fraction.box {
  width: 300px;

  .info p {
    font-size: $small;
    color: $grayLite;
    margin-bottom: 0;
  }
}


.ui.green.wide.button {
  width: 20em;
  color: $white;
  margin-top: 1em;
  font-weight: bold;
}

.law-projects {
  border-top: 1px solid #C8C8C8;
  padding-top: 2rem;

  .eight.wide.column { padding-bottom: 0; }
  .ui.zero.margin.grid { margin: 0; }
  .ui.table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .date { min-width: 7em; }
  }
}

.law-project-collaborators {
  h3 { margin: 1rem 0 0; }
  th, tr { font-size: $normal; }
  .ui.table {
    margin: 1rem;
    padding: 0;
  }
}

#fraction-filter-component {
  font-size: $normal !important;
}

.stats-description {
  font-size: $normal;
  font-weight: 200;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  color: $gray;
  max-width: 10rem;
  margin-bottom: 2rem;
}

