{% extends "base.html" %}

{% block content %}
<form method='POST' action="">
    {% csrf_token %}
    {{ search_form.as_table }}
    <input type="submit" name="search" value="Search">
<div><p>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    {% if document %}
        <p><b>Name</b>: {{ document.name }}</p>
        <p><b>Number</b>: {{ document.number }}</p>
        {% for field in edit_form.visible_fields %}
            <p>{{ field.errors }}
            {{ field.label_tag }}: {{ field }}</p>
        {% endfor %}
        <input type="hidden" name="doc_id" id="id_doc_id" value="{{ document.id }}"/>
        <input type="submit" name="save" value="Save">
    {% endif %}
    </p></div>
</form>
{% endblock %}
