{% extends "base.html" %}

{% block content %}
<form method='POST' action="">
    {% csrf_token %}
    {{ search_form.as_table }}
    <input type="submit" name="search" value="Search">
<div><p>
    {% if document %}
        <b>Name</b>: {{ document.name }}<br/>
        <b>Number</b>: {{ document.number }}<br/>
        {% for field in edit_form.visible_fields %}
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        {% endfor %}
        <input type="hidden" name="doc_id" id="id_doc_id" value="{{ document.id }}"/>
        <input type="submit" name="save" value="Save">
    {% endif %}
    </p></div>
</form>
{% endblock %}
