# $NOTE
#compiler-settings
cheetahVarStartToken = @
#end compiler-settings
[buildout]
parts =
    mkdir
    django
    rubygems
    #if @DEVELOPMENT
    ctags
    scripts
    #end if

eggs =
    PIL
    South
    django
    django-annoying
    django-registration
    CouchDB
    #if @DEVELOPMENT
    coverage
    django-debug-toolbar
    django-extensions
    django-test-utils
    ipdb
    ipython
    #end if

extra-paths =

allowed-eggs-from-site-packages =
    PIL
    setuptools
    distribute

extensions = mr.developer
sources = sources
sources-dir = parts
auto-checkout = *
always-checkout = force

versions = versions

[sources]
# my.package = svn http://example.com/svn/my.package/trunk
# some.other.package = git git://example.com/git/some.other.package.git
# bzr.package = bzr bzr+ssh://bazaar.launchpad.net/~user/project/branch/

[versions]
django = 1.3

[django]
recipe = djangorecipe
project = manoseimas
settings = settings
eggs = ${buildout:eggs}
#if @DEVELOPMENT
wsgi = false
#else
wsgi = true
wsgilog = ${buildout:directory}/var/log/wsgi.log
#end if

[mkdir]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/var/etc
    ${buildout:directory}/var/log
    ${buildout:directory}/var/sass/css
    ${buildout:directory}/var/www/static

[rubygems]
recipe = rubygemsrecipe
gems =
    sass
    rb-inotify

#if @DEVELOPMENT
[ctags]
recipe = z3c.recipe.tag:tags
eggs = ${buildout:eggs}
extra-paths = ${buildout:extra-paths}

[scripts]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = python
#end if
