// =============================================================================
//
//    Un-reset Stylesheet
//    _unreset.scss
//    
//    Sets very basic stuff, and is very generic.
//    Some stuff is meant to be over-written.
//
// =============================================================================

a
{
  color: $linkColor;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  
  &:hover
  {
    color: $linkColorHover;
    text-decoration: underline;
  }
}

.button,
.alert-message
{
  &.danger,
  &.danger:hover,
  &.error,
  &.error:hover,
  &.success,
  &.success:hover,
  &.info,
  &.info:hover {
    color: $white
  }
  
  &.danger,
  &.error {
    @include gradientBar (#ee5f5b, #c43c35);
  }
  
  &.success {
    @include gradientBar (#62c462, #57a957);
  }
  
  &.info {
    @include gradientBar (#5bc0de, #339bb9);
  }
}