{% extends "manoseimas/legislation/base.html" %}
{% load i18n %}


{% block nav_legislation %}
    {% block nav_legislation_categories %}
    <strong>{% trans "Įstatymų kategorijos" %}</strong>
    {% endblock %} |
    {% block nav_legislation_legislation_s %}
    <a href="{% url manoseimas-legislation-list %}"
        >{% trans "Įstatymai" %}</a>
    {% endblock %}
{% endblock %}


{% block content %}
    {% for node in categories %}
        {% for level in node.open_levels %}<ul><li>{% empty %}</li><li>{% endfor %}
            <a href="{% url manoseimas-legislation node.id %}">{{ node.doc.name }}</a>
        {% for level in node.close_levels %}</li></ul>{% endfor %}
    {% endfor %}
{% endblock %}
