{% extends "manoseimas/legislation/base.html" %}
{% load i18n %}

{% block nav_legislation_drafts %}
<strong>{% trans "Projektai" %}</strong>
{% endblock %}

{% block content %}
{% if drafts %}
    <table>
    {% for document in drafts %}
    <tr>
        <td>[{{ document.date|date:"SHORT_DATE_FORMAT" }}]</td>
        <td>
            <a href="{% url manoseimas-legislation document.number %}"
                >{{ document.name }}</a>
        </td>
        <td>
            (<a href="{% url manoseimas-legislation-votings document.number  %}">{% trans "balsavimai" %}</a>)</li>
        </td>
    <tr>
    {% endfor %}
    </table>
{% else %}
    <p>{% trans "Susijusių įstatymo projektų nėra." %}</p>
{% endif %}
{% endblock %}
