{% extends "manoseimas/legislation/base.html" %}
{% load i18n %}


{% block nav_legislation %}
    {% block nav_legislation_categories %}
    <a href="{% url 'manoseimas-category-list' %}">{% trans "Įstatymų kategorijos" %}</a>
    {% endblock %} |
    {% block nav_legislation_legislation_s %}
    <strong>{% trans "Įstatymai" %}</strong>
    {% endblock %}
{% endblock %}


{% block content %}
    <ul>
    {% for legislation in legislations %}
        <li><a href="{% url 'manoseimas-legislation' legislation.id %}"
            >{{ legislation.name }}</a></li>
    {% endfor %}
    </ul>

    {% if legislations.has_prev_page %}
    <a href="{{ legislations.get_prev_page_url }}">prev page</a>
    {% endif %}

    {% if legislations.has_prev_page and legislations.has_next_page %}
    |
    {% endif %}

    {% if legislations.has_next_page %}
    <a href="{{ legislations.get_next_page_url }}">next page</a>
    {% endif %}
{% endblock %}
