{% extends "base.html" %}
{% load i18n %}

{% block content %}

    {% if document %}
     <div>
          <div id="doc_name">
          {{ document.name }}
          </div>
          <div id="doc_id">
              <a href="{{ document.source.url }}">{{ document.number }}</a>
          </div>
      </div>

      <div>
          <div>{% trans "Projektą pateikė:" %} TODO</div>
          <div>{% trans "Projektas priimtas:" %} {{ document.date }} </div>
          <div>{% trans "Projekto komitetas:" %} TODO </div>
          <div><a href="#">{% trans "Aiškinamasis raštas" %}</a></div>
          <div><a href="#">{% trans "Peržiūrėti diskusijas seime" %}</a></div>
      </div>

      <div>
          {% trans "Apie įstatymą:" %}<br/>
          {{ document.summary }}
      </div>

      <div>
          {% trans "Nedalyvavo narių:" %}
      </div>

    {% endif %}


{% endblock %}
