#fraction-filter-component .ui.page.grid {
  font-size: $small !important;
  .fraction-row {
    img {width: 100px; }
    font-size: $normal;
  }
  .parliamentarian-row {
    img.photo {
      max-height: 80px;
    }
  }
}
