#fraction-filter-component {
  .none.margin { margin: 0; }

  .ui.tabular.menu {
    .item {
      font-weight: normal;
      padding: 0.7em 4em;
      font-size: $normal;
    }
  }
}

#fraction-member-list {
  .none.margin { margin: 0; }
}

#fraction-filter-component .ui.page.grid.active_tab, #fraction-member-list {
  font-size: $small !important;
  padding-bottom: 2rem;
  margin-top: 1rem !important;

  .sort-keys {
    a { color: $gray;}
    a:hover { color: $msBlue; }
    .column {
      font-size: $small;
      vertical-align: middle;
      padding: 1em 0.3em .5em;
      border-bottom: 4px solid #E7E4E4;
      height: 4.5em;
    }
    .eight { margin-top: 1em; height: 3.5em; }

    .active {
      border-bottom: 4px solid $msBlue;
      a { color: $msBlue; }
    }

    .chevron.icon { margin-left: .3em; }
  }

  .filtered-elements {
    margin-top: 1em;

    .column {
      text-align: center;
      padding: 0.7em 0;
    }

    .name {
      text-align: left;
      padding-left: 1em;

      img { margin-right: 1em; }
      img.logo { width: 60px; }
      img.photo { height: 60px; }

      .info {
        display: inline-block;
        vertical-align: middle;
        max-width: 25em;

        h2 {
          margin-bottom: 0.1em;
          line-height: 1.2;
          font-size: $medium*0.9;
          a { color: $textColor; }
          a:hover { color: $linkColor; }
        }
        p a { color: $greenDark; }
      }
    }

    .ui.statistic {
      margin-top: .3em;
      .value { font-size: $big*0.9; color: $textColor;}
      .label {
        background-color: transparent;
        font-weight: normal;
        font-size: $small;
        text-shadow: none;
        color: $gray;
      }
    }

    .fraction-row, .parliamentarian-row {
      border: 1px solid #E7E4E4;
      margin-bottom: 10px;
    }
  }

  .load_more {
    margin-top: 1em !important;
    font-size: $normal;

    a {
      border: 1px dashed $grayLite;
      padding: 0.2em 10em;
    }
    a:hover {
      background-color: $msGreen;
      color: $white;
    }
  }

  .zero.margin.page.grid { padding: 0; }
}
