{% extends "root.html" %}
{% load i18n %}

{% block all %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
    <title>{% block title %}{% trans "Mano Seimas" %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
    
    {% block header %}
    <header>
        <div class="container">
        
            <h1 class="logo">
                <a href="{% url manoseimas-legislation-list %}">Mano Seimas</a>
            </h1>
        
            <nav class="main">
                <ul>
                    {% include "partials/main_menu.html" %}
                </ul>
            </nav>
        
            <nav class="user">
                <ul>
                    {% if user.is_authenticated %}
                    <li class="user-name">{% trans "Logged in" %}: <strong>{{ user.username }}</strong></li>
                    <li><a href="{% url auth_password_change %}">{% trans "Settings" %}</a></li>
                    <li><a href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
                    {% else %}
                    <li><a href="{% url auth_login %}">{% trans "Log in" %}</a></li>
                    <li><a href="{% url registration_register %}">{% trans "Sign Up" %}</a></li>
                    {% endif %}
                </ul>
            </nav>

            <div style="clear:both;"></div>
            <nav class="search">
                {% load manoseimassearch %}
                {% search_form %}
            </nav>

        </div>
    </header>
    {% endblock %}

    <section id="content">
        <div class="container">
            {% block container %}
            {% block content %}
            {% endblock %}
            {% endblock %}
        <div class="container">
    </section>
    
    {% block footer %}
    <footer class="main">
        <div class="container">
            <div class="row">
                
                <section class="menu span4 columns">
                    <div class="footer-padding">
                        <ul>
                            {% include "partials/main_menu.html" %}
                        </ul>
                    </div>
                </section>
                
                <section class="newsletter span4 columns">
                    <div class="footer-padding">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    
                        <ul>
                            <li>Apie ką tai bus</li>
                            <li>Kaip dažnai bus siunčiama</li>
                            <li>Visada galima atsisakyti vienu mygtuko paspaudimu</li>
                        </ul>
                    
                        <form class="form-stacked">
                            <div class="clearfix">
                            <label for="email">Tavo el. paštas<label>
                            <input type="text" name="email" id="email" />
                            </div>
                
                            <input type="submit" value="Užsisakyti" class="button info" />
                        </form>
                    </div>
                </section>
        
                <section class="ideas span4 columns">
                    <div class="footer-padding">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            
                        <form class="form-stacked">
                            <div class="clearfix">
                                <label for="idea">Tavo idėja<label>
                                <textarea name="idea" id="idea"></textarea>
                            </div>
                
                            <input type="submit" value="Siųsti idėją" class="button info" />
                        </form>
                    </div>
                </section>
        
                <section class="facebook span4 columns">
                </section>
            
            </div>
        </div>
    </footer>
    {% endblock %}
    
    </div>
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<script src="{{ STATIC_URL }}js/plugins.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>

<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	// TODO: Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</html>
{% endblock %}
