{% extends "root.html" %}
{% load i18n %}
{% load compressed %}

{% block all %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{{ title }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  {% compressed_css 'styles' %}
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  {% compressed_js 'modernizr' %}
</head>

<body>
  <header class="navbar navbar-manoseimas">
    <div class="navbar-inner" id="top-menu-inner">
      <div class="container" id="top-menu">
        <ul class="nav pull-left">
          <li><a href="{% url node "testas" %}">{% trans "Testas" %}</a></li>
        </ul>

        <div class="pull-right">
          <ul class="nav pull-right">
            {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ request.user }} <i class="white-caret"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{{ request.user.get_profile.get_node.permalink }}">
                  <i class="icon-user"></i> {% trans "Profile" %}</a></li>
                <li><a href="{% url logout %}">
                  <i class="icon-off"></i> {% trans "Log out" %}</a></li>
              </ul>
            </li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i style="margin-top: 3px" class="icon-user icon-white"></i> {% trans "Log in" %}
                <i class="white-caret"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url socialauth_begin 'google' %}">{% trans "Google" %}</a></li>
                {% if FACEBOOK_APP_ID %}
                <li><a href="{% url socialauth_begin 'facebook' %}">{% trans "Facebook" %}</a></li>
                {% endif %}
                <li><a href="{% url login %}">{% trans "OpenID" %}</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
        {% if request.user.is_authenticated %}
        <img src="{{ request.user.get_profile.get_node.avatar_url_small }}"
             class="avatar pull-right" />
        {% endif %}
      </div>
    </div>
    <div class="navbar-inner" id="logo-bar-inner">
      <div class="container" id="logo-bar">
        <a href="{% url index %}" class="brand">
          <img src="{{ STATIC_URL }}img/logo.png" />
        </a>

        <form action="{% url search %}" method="get" id="search-box">
          <input type="text" name="q"{% if request.GET.q %} value="{{ request.GET.q }}"{% endif %}
                 placeholder="{% trans "Search" %}" class="search-query" />
        </form>
      </div>
    </div>
  </header>

  <div id="middle">
    <div class="container">
      {% block container %}
      <div class="row">
        <div class="content span10">
          <div class="content-inner">
          {% block content %}
          {% endblock %}
          </div>
        </div>
        <div class="sidebar span2">
          {% block sidebar %}
          {% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="content">
            <div class="logo"></div>
            <p class="copyright"><small>Kai kurios teisės saugomos (ↄ) 2012 manoSeimas.lt</small></p>
            <a href="http://www.transparency.lt"><div class="tils"></div></a>
          </div>
        </div>
        <div class="span2">
          <h2>Informacija</h2>
          <ul class="nav">
            <li><a href="/apie-projekta/">Apie projektą</a></li>
            <li><a href="/kaip-tai-veikia/">Kaip tai veikia</a></li>
          </ul>
        </div>
        <div class="span4">
          <h2>Padėk mums, jei gali</h2>
          <ul class="nav span2">
            <li><a href="/programuotojai/">Programuotojai</a></li>
            <li><a href="/savanoriai/">Savanoriai</a></li>
          </ul>
          <ul class="nav span2">
            <li><a href="https://www.aukok.lt/Projektai/Padekime-rinkejams-atsakingai-pasiruosti-Seimo-rinkimams">{% trans "aukok.lt" %}</a></li>
            <li><a href="#">{% trans "Hostingu" %}</a></li>
          </ul>
        </div>
        <div class="span12">
          <hr />
        </div>
        <div class="span8">
          <div class="content fallow-us">
            <p>Sekite mus:
              <a href="http://www.facebook.com/manoseimas"><i class="icon-soc-facebook"></i>Facebook</a>
              <a href="http://www.twitter.com/#!/ManoSeimas"><i class="icon-soc-twitter"></i>Twitter</a>
            </p>
          </div>
        </div>
        <div class="span4">
          <div class="licence">
            <p>Visas turinys esantis šioje svetainėje <br/>
               pateikiamas pagal <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons licencija" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a> licenciją.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript at the bottom for fast page loading -->
  
  <!-- scripts concatenated and minified via ant build script-->
  {% compressed_js 'scripts' %}
  {% block inlinejs %}{% endblock %}
  <!-- end scripts-->
	
  <!-- Change UA-XXXXX-X to be your site's ID
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
  -->


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
{% endblock %}
