{% extends "root.html" %}
{% load i18n %}
{% load pipeline %}
{% load sboard %}

{% block all %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{{ title }}{% endblock %}</title>

  <meta property="og:type" content="website">
  <meta property="og:title" content="manoSeimas">
  <meta property="og:description" content="Atlik testą, sudarytą iš svarbiausių 2008-2012 m. Seime vykusių balsavimų, ir sužinok, kurie Seimo nariai ir partijos geriausiai atstovavo tavo interesams.">
  <meta property="og:image" content="http://manoseimas.lt/static/img/logo_square.jpg">
  <meta property="og:url" content="http://manoseimas.lt">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.png">

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  {% stylesheet 'styles' %}
  <!-- end CSS-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  {% javascript 'modernizr' %}
</head>

<body>
  <header class="navbar navbar-manoseimas">
    <div class="navbar-inner" id="logo-bar-inner">
      <div class="container" id="logo-bar">
        <a href="/" class="brand">
          <img src="{{ STATIC_URL }}img/logo-updated.png" />
          <span class='beta'>BETA</span>
        </a>

        <div class="pull-right">
          <ul class="nav pull-right">
            {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% nodeimage request.user.get_profile.get_node 'small' %}
                {{ request.user|truncatechars:26 }} <i class="caret"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{{ request.user.get_profile.get_node.permalink }}">
                  <i class="icon-user"></i> {% trans "Profile" %}</a></li>
                <li><a href="{% url logout %}">
                  <i class="icon-off"></i> {% trans "Log out" %}</a></li>
              </ul>
            </li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i style="margin-top: 3px" class="icon-user"></i> {% trans "Log in" %}
                <i class="caret"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url socialauth_begin 'google' %}">{% trans "Google" %}</a></li>
                {% if FACEBOOK_APP_ID %}
                <li><a href="{% url socialauth_begin 'facebook' %}">{% trans "Facebook" %}</a></li>
                {% endif %}
                <li><a href="{% url login %}">{% trans "OpenID" %}</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>

        <form action="{% url search %}" method="get" id="search-box">
          <input type="text" name="q"{% if request.GET.q %} value="{{ request.GET.q }}"{% endif %}
                 placeholder="{% trans "Ieškok politikų, temų, argumentų&hellip;" %}" class="search-query">
          <input type="submit" class="submit icon-search" value="">
        </form>
      </div>
    </div>
  </header>

  {% block middle %}
  <div id="middle">
    <div class="container">
      {% block container %}
      <div class="row">
        <div class="content span10">
          <div class="content-inner">
          {% block content %}
          {% endblock %}
          </div>
        </div>
        <div class="sidebar span2">
          <div class="sidebar-inner">
            {% block sidebar %}
            {% endblock %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
  {% endblock %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="span6">
            <a target="_blank" href="http://www.transparency.lt"><img src='{{ STATIC_URL }}img/tils-logo-updated.png' /></a>
        </div>
        <div class="span6">
          <div class="row">
            <div class="span2">
              <h2><a href="/apie-projekta/">Apie projektą</a></h2>
            </div>
            <div class="span2">
              <h2><a href="/prisijunk/">Prisijunk</a></h2>
            </div>
            <div class="span2">
                <a target="_blank" href="http://www.facebook.com/tilietuva"><img src='{{ STATIC_URL }}img/fb-icon-32.png' /></a>
                <a target="_blank" href="http://www.twitter.com/#!/ManoSeimas"><img src='{{ STATIC_URL }}img/twitter-icon-32.png' /></a>
            </div>
          </div>
          <div class="row">
              <div class="span12">
                  <p class="copyright"><small>Kai kurios teisės saugomos (ↄ) 2012 manoSeimas.lt</small></p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript at the bottom for fast page loading -->
  
  <!-- scripts concatenated and minified via ant build script-->
  {% javascript 'scripts' %}
  {% block inlinejs %}{% endblock %}
  <!-- end scripts-->
	
  {% if GOOGLE_ANALYTICS_KEY %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_KEY }}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/lt_LT/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
{% endblock %}
