{% load commonutils %}

{% for hidden in form.hidden_fields %}
{{ hidden }}
{% endfor %}

{{ form.non_field_errors }}
{% for field in form.visible_fields %}
<div class="control-group{% if field.errors %} error{% endif %}">
  <label for="{{ field.auto_id }}" class="control-label">
      {{ field.label }}
      {% if field.field.required %}
      <span class="required">*</span>
      {% endif %}
  </label>
  <div class="controls">
    {{ field }}
    {% if field.errors %}
    <span class="help-inline">{{ field.errors }}</span>
    {% endif %}
  </div>
  {% if field.help_text %}
  <p class="help-block">{{ field.help_text}}</p>
  {% endif %}
</div>
{% endfor %}
