- extends "new_base.jade"
- load static from staticfiles
- load compress from compress
- load lt_pluralize

- block title
  | manoSeimas.lt – stebėk, kaip dirba Seimo nariai

-block middle
  .photo-box.index
    .ui.page.grid
      .doubling.one.column.row
        .column.center.aligned
          .test-box
            .main
              h1 Sužinok,
              h2 kas šios kadencijos LR Seime tave atstovavo geriausiai
  
              a(href='/test').ui.start-test.button Pradėti testą
         
            .visualisation
              img(src="{% static 'img/klaustukas.png' %}")


  .ui.stackable.page.grid.test-steps
    .one.column.row
      .column.center.aligned
        h2.title Kaip tai veikia:
        .steps
          a.step(href="/test")
            img(src="{% static 'img/test-ico1.png' %}")
            .desc Atsakyk į klausimus
          .step-arrow
            img(src="{% static 'img/arrow-right-icon.png' %}")
          a.step(href="/test")
            img(src="{% static 'img/test-ico2.png' %}")
            .desc Sužinok rezultatus
          .step-arrow
            img(src="{% static 'img/arrow-right-icon.png' %}")
          a.step(href="/test")
            img(src="{% static 'img/test-ico3.png' %}")
            .desc Pasidalink su draugais


  .ui.stackable.page.grid.features
    .doubling.one.column.row
      .column.center.aligned
        img(src="{% static 'img/logo-black.png' %}").logo
        div.title portale taip pat:

    .three.column.row
      .column.center.aligned
        .block
          img(src="{% static 'img/front-page/fractions.png' %}")
          a(href="{% url 'mp_fraction_list' %}").button Sek, ką veikia Seimo frakcijos
      .column.center.aligned
        .block
          img(src="{% static 'img/front-page/mps.png' %}")
          a(href="{% url 'mp_list_all' %}").button.wide Sužinok, kaip balsuoja tavo Seimo narys
      .column.center.aligned
        .block
          img(src="{% static 'img/front-page/influence.png' %}")
          a(href="{% url 'influence' %}").button Pamatyk, kas Seima siekia įtakos


  .ui.page.grid.donate
    .column.center.aligned
      a(href='#').ui.button PAAUKOTI


  .desktop-only
    - include "snippets/team.jade"
