- load static from staticfiles
- load compress from compress

!!! 5
html(lang=en)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    meta(property="og:type" content="website")
    meta(property="og:title" content="manoSeimas.lt - Sužinok kas Seime tave atstovavo geriausiai")
    meta(property="og:description" content="Atlik testą, sudarytą iš svarbiausių 2012-2016 m. Seime vykusių balsavimų, ir sužinok, kurie Seimo nariai ir partijos geriausiai atstovavo tavo interesus.")
    meta(property="og:image" content="http://manoseimas.lt/static/img/fb_share1.jpg")
    meta(property="og:image" content="http://manoseimas.lt/static/img/fb_share2.jpg")
    meta(property="og:image" content="http://manoseimas.lt/static/img/fb_share3.jpg")
    meta(property="og:url" content="http://manoseimas.lt")

    title {% block title %}{{ title }}{% endblock %}

    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", type="image/x-icon", href="{% static 'favicon.png' %}")
    link(rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}")
    - compress css
      link(rel="stylesheet", type="text/x-scss", href="{% static 'fonts/open-sans/stylesheet.scss'%}")
      link(rel="stylesheet", type="text/x-scss", href="{% static 'css/styles.scss' %}")
      link(rel="stylesheet", type="text/x-scss", href="{% static 'main.scss' %}")

    | {% block extra_css %}
    | {% endblock %}

    script(src="{% static 'jquery.min.js' %}")
    script(src="{% static 'semantic/semantic.min.js' %}")
    - compress js
      script(src="{% static 'js/manoSeimas.js' %}", type="text/javascript", charset="utf-8")
      script(src="{% static 'js/semantic_initializers.js' %}")
      script(src="{% static 'js/header.coffee' %}", type="text/coffeescript", charset="utf-8")

  body
    - block header
      - include "snippets/header.jade"

    div#main-block
      - block middle
          - block container
            .ui.page.grid
              .twelve.wide.column
                .ui.segment
                  | {% block content %}
                  | {% endblock %}
              .six.wide.column
                | {% block sidebar %}
                | {% endblock %}

    - include "snippets/footer.jade" with title="Home"

  - block inlinejs
    //- Additional coffee/js scripts can be loaded here

  {% include "partials/google_analytics.html" %}
