// =============================================================================
//
//    Base Stylesheet
//    _base.scss
//    
//    Builds ground for all the project.
//
// =============================================================================

html,
body
{
  background: #eee;
}

#content
{
  background: $white;
  padding-top: 35px;
  padding-bottom: 35px;
}