<div class="modal hide fade" id="inactive-help">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pagalba</h3>
  </div>
  <div class="modal-body">
    <p>Frakcijos ir Seimo nariai, kurie dalyvavo mažiau nei 25 proc. balsavimų,
    rodomi rezultatų apačioje. Tos frakcijos arba Seimo nariai, kurie dalyvavo
    mažiau nei 10 proc. balsavimų, nerodomi visai, nes balsavimo rezultatai
    nebūtų pakankamai tikslūs. Kuo daugiau balsavimų sudalyvauta, tuo
    patikimesni rezultatai. Daugiau apie tai <a href="/kaip-tai-veikia/">čia.</a></p>

    <p>Kiekvienos frakcijos ar Seimo nario dalyvavimas rodomas užvedus ir
    palaikius pelę ant logotipo/nuotraukos.</p>
  </div>
</div>
