<div class='close' onClick='MSWidget.hide_overlays();'>✕</div>
<h2>Prisijungimas</h2>
<p>Prisijungimas prie manoSeimas.lt profilio užtikrina, kad jūsų atsakymai būtų išsaugoti į jūsų asmeninį politinių pažiūrų profilį.</p>

<button class='btn' onClick='MSWidget.connect("google");'>Google &raquo;</button>
<!--
<button class='btn' onClick='MSWidget.connect("facebook");'>Facebook &raquo;</button>
-->
<button class='btn' onClick='MSWidget.connect("openid");'>OpenID &raquo;</button>

