<div class='close' onClick='MSWidget.hide_overlays();'>X</div>

<h2>Connect</h2>
<p>Connecting with manoSeimas.lt ensures that your opinions and prefences are stored.</p>

<button class='connect_button' onClick='MSWidget.connect("google");'>Google &raquo;</button>
<!--
<button class='connect_button' onClick='MSWidget.connect("facebook");'>Facebook &raquo;</button>
-->
<button class='connect_button' onClick='MSWidget.connect("openid");'>OpenID &raquo;</button>
