<div id="MSWidget-mps-aye" class="mps_section">
    <div><b>AYE!</b></div>
    {{#each_value voting.votes.aye }}
        {{render "mp" }}
    {{/each_value}}
    {{#unless voting.vote_aye}}
        <i>None</i>
    {{/unless}}
</div>
<br/>

<div id="MSWidget-mps-no" class="mps_section">
    <div><b>NO!</b></div>
    {{#each_value voting.votes.no }}
        {{render "mp" }}
    {{/each_value}}
    {{#unless voting.vote_no}}
        <i>None</i>
    {{/unless}}
</div>
<br/>

<div id="MSWidget-mps-abstain" class="mps_section">
    <div><b>ABSTAIN!</b></div>
    {{#each_value voting.votes.abstain }}
        {{render "mp" }}
    {{/each_value}}
    {{#unless voting.vote_abstain}}
        <i>None</i>
    {{/unless}}
</div>
